---
---

$breakpoint-about-1: 700px;
$breakpoint-about-2: 500px;
//ABOUT PAGE

//DO WE REALLY NEED CLEARFIX WITH OVERFLOW: AUTO
//
//.content, .sidebar, footer {
//    display: none;
//}
.about-page {
    display: none;
}

// Q = HOW TO MAKE CONTAINER DYNAMIC?

.about-page {
    position: absolute;
    left: 0%; right: 0%; top: 0%; bottom: 0%;
    background-color:#0000ff;
    z-index: 1000;
    color: white;
    overflow: auto;
}

//why are we still allowed to height scroll ?!?!?!
.about-header {
    height: 4rem;
//    max-height: 1.5rem;
    position: relative;
}
.about-header p{
    position: absolute;
    left: 7%;
    font-size: 1.7rem;
    letter-spacing: 1vw;
    font-weight:500 ;

}
//not scaling accordingly?
.about-grid {
    width: 100%; 
    max-width: 1270px; 
}
//.about-row:before, .about-row:after {
//    content:"";
//        display: table ;
////         clear:both;
////    height: 0px;
//}
//.about-row:after {
//    clear: both;
//}

.about-row {
    height: 50%;
    min-height: 10rem;
    background-color: blue;
}

[class*='col-'] {
    float: left; 
    height: 100%;
//    border: 1px dotted white;
        font-size: 1.3rem;
}



.colheader {
    margin-top: 10%;
    height: 40px;
    text-align: center;
    letter-spacing: 2px;
}

.colheader.timeline {
    margin-top: 6%;  
};
.col-1, .col-2 {width: 50%}
.col-3 {width: 100%}


//container does not magically get longer if containing elements get larger.
//so background-color does not cover full page
@media only screen and (max-width: $breakpoint-about-1)
    {
        .about-row {
//            height: 40%;
            height: 15rem;
        }
        .col-1, .col-2 {
            width: 100%;
        }
        .about-header p{
            font-size: 1.1rem;
        }

        .colheader.timeline {
            margin-top: 5%;
        }
        .colcontent {
            font-size: 1rem;
            text-align: center;
        }
    }
@media only screen and (max-width: $breakpoint-about-2)
    {
 
    }
