---
---

$breakpoint-about-2: 700px;
$breakpoint-about-1-timelinepadding: 900px;
$breakpoint-about-1-fontfactor: .7;

$font-size: 1.2rem;

$header-factor: 1.3;

$phase-height: 15rem;

$phase1-width: 27.5%;
$phase3-width: 45%;
$phaseHover-margin: 2%;

$colheader-height: 4rem;
$year-header-height: 4rem;


.about-page {
    position: absolute;
    left: 0%; right: 0%; top: 0%; bottom: 0%;    
    display: none;    
    background-color:#0000ff;
    z-index: 1000;
    color: white;
    overflow: auto; 
    min-height: 630px;
}

.about-header {
    height: 15%;
    position: relative;
    padding-bottom: 5%;
    p {
            position: absolute;
            left: 7%;
            font-size: 1.7rem;
            letter-spacing: 1vw;
            font-weight:500 ;
        }
}
.about-grid {
    width: 100%; 
    max-width: 1270px; 
    height: 85%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.about-row {
    overflow: auto;
    overflow-x: hidden;
    overflow-y: hidden;
}

.row-1 {
     padding-bottom: 3%;   
}

[class*='col-'] {
    float: left; 
    height: 100%;
    font-size: 1rem;
}
.colheader {
    height: $colheader-height;
    text-align: center;
    margin: 0;
    letter-spacing: 2px;
//    padding-bottom: 4%;

}
.col-1, .col-2{width: 50%; padding-left: 8%; padding-right: 8%; text-align: center}
.col-3 {
    width: 84%;
    position: relative;
    margin-left: 8vw; margin-right: 8vw;
//    padding-left: 12%; padding-right: 12%

}

.colcontent {
    margin: 0;
}




//timeline styling here
    
.colheader.timeline {
    padding-top: 0%; 
    padding-bottom: 3%;
}

.phase2 {
    padding-right: 3%;
}
.phase.phase3 {
    width: $phase3-width;
    .year-col {
        width: 33%;
    }
    .date2 {
        margin-left: 40%;
    }
}

.phase1color {
    color: #9A9A9A;
}
.phase2color {
    color: #FFB8B8;
}
.phase3color {
    color: #FAE803;
}

.phaseHover {
    margin-right: 2%;
    position: absolute;
    top: 0%;
    bottom: 5%;
    display: none; 
    
    .phaseHover-content-header {
        text-align: center;
        font-size: .9rem;
        transform: translateX(-50%);
        position: absolute;
        left: 50%;
        margin: 0;
        }
    
    .phaseHover-content {
        margin: 0;
        font-size: .7rem;
        width: 100%;
        padding-left: 10%;
        padding-right: 10%;
        padding-top: 5%;
        height: $colheader-height + $year-header-height;
        
        
    }
}

.phaseHover.first {
    border: .5px dashed white;  
    left: -$phaseHover-margin;
    width: $phase1-width;
    display: none;
}
.phaseHover.second {
    border: .5px dashed white;  
    left: $phase1-width - $phaseHover-margin;
    width: $phase1-width;
}
.phaseHover.third {
    border: .5px dashed white;  
    left: $phase1-width + $phase1-width - $phaseHover-margin;
    width: $phase3-width;    
}


.phase {
//    padding-right: 2%;
    cursor: pointer;
    .fact.important {
        font-weight: 900;
    }
    position: relative;
    float: left;
    width: $phase1-width;
    height: $phase-height;
    
    margin-top: 0;
    
    .date1{
        text-align: center;
        margin: 0;
        
    }
    .year-divider {
        width: 40%;
        
    }        
    .year-header {
        height: $year-header-height;
//        height: 20%;
        margin: 0;
        text-align: center;
        width: 100%;
        float: left;
        font-weight: 900;
        letter-spacing: 5px;        
    }
    
    [class*='year-row'] {
        float: left;
        height: 40%;
        width: 100%;
        font-size: .8rem;
        }
    
    .year-col.two-third {
        width: 63%;
        padding-left: 10%;
    }
    
    .year-col {
        float: left;
        width: 50%;
        height: 100%;
        margin: 0;
        p {
            text-align: left;
            display: inline-block;
        }
    }


}




@media only screen and (max-width: $breakpoint-about-1-timelinepadding){
    .col-3 .fact{
        font-size: .6rem;
    }   
}
    
@media only screen and (max-width: $breakpoint-about-2){
        $phase1-phase2-width: 50%;
        $phase3-width: 100%;
        
        .col-1, .col-2 {
            width: 100%;
        }
        .colheader.timeline {
            padding-top: 5%;
        }
        .colcontent {
            font-size: 1rem;
            text-align: center;
        }
        .phase.phase1{
            width: $phase1-phase2-width;
            padding-left: 10%;
        }
        .phase.phase2{
            width: $phase1-phase2-width;
            padding-right: 10%;
        }
        .phase.phase3.phase3color{
            width: $phase3-width;
            padding-left: 10%;
            padding-right: 10%;
        }    
    .phaseHover.first, .phaseHover.second {
        width: $phase1-phase2-width;
        bottom: $phase-height ;     
    }
    .phaseHover.second {
        left: $phase1-phase2-width;
    }
    .phaseHover.third {
        width: 100%;
        left: 0%;
        top: $colheader-height + $phase-height;
    }
}
