---
---

$breakpoint-about-2: 700px;
$breakpoint-about-1-timelinepadding: 900px;
$breakpoint-about-1-fontfactor: .7;

$font-size: 1.2rem;

$header-factor: 1.3;


.about-page {
    position: absolute;
    left: 0%; right: 0%; top: 0%; bottom: 0%;    
    display: none;    
    background-color:#0000ff;
    z-index: 1000;
    color: white;
    overflow: auto; 
}

.about-header {
//    height: 4rem;
    height: 15%;
    position: relative;
    padding-bottom: 5%;
    p {
            position: absolute;
            left: 7%;
            font-size: 1.7rem;
            letter-spacing: 1vw;
            font-weight:500 ;
        }
}
.about-grid {
    width: 100%; 
    max-width: 1270px; 
    height: 90%;
}

.about-row {
    height: 35%;
//    min-height: 8rem;
//    padding-top: 4%;
}

[class*='col-'] {
    float: left; 
    height: 100%;
    font-size: 1.1rem;
}
.colheader {
//    padding-top: 10%;
    height: 4%;
    text-align: center;
    letter-spacing: 2px;
    padding-bottom: 4%;
}
.col-1, .col-2{width: 50%}
.col-3 {
    padding-top: 3%;
    width: 100%;
    padding-left: 8vw; padding-right: 8vw;
//    padding-left: 12%; padding-right: 12%

}


@media only screen and (max-width: $breakpoint-about-1-timelinepadding){
    .col-3 .fact{
        font-size: .6rem;
    }   
}
    
@media only screen and (max-width: $breakpoint-about-2){
//        .about-header p{
//            font-size: .64*1.7rem;
//        }        
        .about-row {
            height: 15rem;
        }
        .col-1, .col-2 {
            width: 100%;
        }
        .colheader.timeline {
            padding-top: 5%;
        }
        .colcontent {
            font-size: 1rem;
            text-align: center;
        }
        .phase.phase1{
            width: 50%;
            padding-left: 10%;
        }
        .phase.phase2{
            width: 50%;
            padding-right: 10%;
        }
        .phase.phase3.phase3color{
            width: 100%;
            padding-left: 10%;
            padding-right: 10%;
        }        
}


//timeline styling here
    
.colheader.timeline {
    padding-top: 0%; 
    padding-bottom: 3%;
}
.phase.phase1 {
    .date2 {
        margin-left: 27%;
    }
}
.phase2 {
    padding-right: 3%;
}
.phase.phase3 {
    width: 45%;
    .year-col {
        width: 33%;
    }
    .date2 {
        margin-left: 40%;
    }
}

.phase1color {
    color: #9A9A9A;
}
.phase2color {
    color: #FFB8B8;
}
.phase3color {
    color: #FAE803;
}

.phase {
//    padding-right: 2%;
    
    .fact.important {
        font-weight: 900;
    }
    position: relative;
    float: left;
    width: 27.5%;
    height: 15rem;
    
    margin-top: 0;
    
    .date1, .date2 {
        width: 20%;
        padding: 0;
        
    }
    .year-divider {
        width: 40%;
        
    }        
    .year-header {
        height: 20%;
        width: 100%;
        margin-bottom: 5%;
        float: left;
    }
    
    [class*='year-row'] {
        float: left;
        height: 40%;
        width: 100%;
        font-size: .8rem;
        }
    
    .year-col.two-third {
        width: 63%;
        padding-left: 10%;
    }
    
    .year-col {
        float: left;
        width: 50%;
        height: 100%;
        margin: 0;
        p {
            text-align: left;
            display: inline-block;
        }
    }

}
