---
---

$breakpoint-1: 900px;
$breakpoint-2: 750px;
$breakpoint-3: 640px;
$breakpoint-4: 480px;
$footer-height: 1rem;
//$card-title-fontsize: 1rem;

$card-width: 26vw;
$med-card-width: 1.35*$card-width;
$large-card-width: 2*$card-width;

$font-size-factor: .07;
$med-font-size-factor: .07;
$large-font-size-factor: .07;

$cardratio: .80;

$card-title-factor: .1; 
$med-card-title-factor: .13;
$large-card-title-factor : .18;

//change the footer to only show up on bottom of screen after scrolling
@media only screen and (max-width: $breakpoint-3){
    footer {
    position: relative;
    float: left;
    clear: both;
//    left: 0;
    width: 100%;
    height: $footer-height;
    }
    .content {
        margin-bottom: 5vw;
    }
}

.year-header {
    display:none;
}

.grid.timesort {
    
     padding-top: 7%;    
     padding-left: 5%;
    
    min-width: 500px;
       .card1.card1select {
            box-shadow: none;
        }
     
    
    @media only screen and (min-width: 1000px){
        
 
         .cardholder {
            width: .7*26vw;
            height: .7*$cardratio*26vw;
            max-width: 211px;
             max-height: 169px;
            float: left;
            position: inherit;
            margin-left: 2%;
            margin-right: 0;
            margin-top: 0;
            .cardcontent p {
                font-size: .7*$font-size-factor  * $card-width;
            }            
        }     
    }
    
    @media only screen and (max-width: 1000px){
        
     .cardholder {
        width: .8*26vw;
        height: .8*$cardratio*26vw;
        float: left;
        position: inherit;
//        padding-left: 4vw;
        margin-left: 2%;
        margin-right: 0;
        margin-top: 0;

        .cardcontent p {
            font-size: $font-size-factor  * $card-width;
        }            
    }
        
    }
    
    @media only screen and (max-width: 800px){
        padding-top: 15%;
    }
    
   
        [class*='year-'] {
            height: .8*$cardratio*26vw;
        max-width: 211px;
         max-height: 169px;
            width: 8%;
            float: left;
            position: relative;
        }

    .year-header {
        display:block;
        font-weight: 900;
        color: blue;
        font-family: Montserrat;
        text-align: center;
        width: 100%;
        position: absolute;
        top: .18*26vw;
    }
    
}

.grid {
    

    .content {
        height: inherit;
    }
    .cardholder {
        width: 26vw;
        height: $cardratio*26vw;
        float: left;
        position: inherit;
//        padding-left: 4vw;
        margin-left: 5vw;
        margin-right: 1vw;
        margin-top: 8vw;

        .cardcontent p {
            font-size: $font-size-factor  * $card-width;
        }            
    }
    
    .cardtitle {
        font-size: $card-title-factor * $card-width;
    }
    
    .card {
        border-radius: 5%;
    }
    
    
    @media only screen and (max-width: $breakpoint-3){
            .cardholder {
//                width: 35vw;
//                height: 31vw;
                width: $med-card-width;
                height: $med-card-width*$cardratio;
                
                .cardcontent p {
                    font-size: $med-font-size-factor  * $med-card-width;
                }      
                
            } 
            .cardtitle {
                font-size: $med-card-title-factor * $card-width;
                
            }     
        }
    @media only screen and (max-width: $breakpoint-4){
            .cardholder {
//                width: 54vw;
//                height: 48.828vw;
                padding-left: 8vw;
                width: $large-card-width;
                height: $large-card-width*$cardratio;                
                .cardcontent p {
                    font-size: $large-font-size-factor  * $large-card-width;
                }                  
                
            } 
            .cardtitle {
                font-size: $large-card-title-factor *$card-width
            }           
        }


    
}







//  .card.tags {
////    transform: translateX(0%) translateY($tagcard-translateY);
//    transform: translateX(0%)  translateY(-2%);        
//    opacity: $tagcard-opacity;
//    z-index: 2;
//}
//.card.thumbnail {
////    transform: translateX(0%)  translateY($thumbnailcard-translateY);
//    transform: translateX(0%)  translateY(8%);          
//    opacity: $thumbnailcard-opacity;    
//    z-index: 3;
//}
//.card.synposis {
////    transform: translateX(0%)  translateY($synposiscard-translateY);   
//        transform: translateX(0%)  translateY(18%);    
//    opacity: $synposiscard-opacity;  
//    z-index: 4;
//}