---
---


.chartwrapper {
    position: relative;
    font-family: 'Inconsolata';
    overflow: auto;

}

.project-info-collapse {
    transform: translateY(-95%);
    opacity: .8;
}



.chart {
    position: relative;
    float: right;
    width: 93%;
}

.axis-label {
    position: absolute;
    top: 0;
    transform: translateX(-50%);
    text-transform: uppercase;    
    color: grey;
    font-weight: 900;
    font-size: 12px;
    font-family: 'Karla';
    opacity: .85;
}

.axislabels {
    width: 93%;
    float: right;
    height: 40px;
    position: relative;
}

.chart-height-holder {
    position: relative;
    overflow: auto;
    width: 100%;
    
}

.block {
    width: 85vw;
    padding-left: 1%;
    padding-right: 3.5%;
}

.chart-holder {
    width: auto;
    height: auto;
    position: relative;
}

.chart-label-holder {
    position: absolute;
    width: 7%;
    left: 0%;
    top: 0%;
    height: 100%;
    .chart-label {
        position: absolute;
        color: rgba(0,0,0,.4);
//        font-size: 10px;
        font-size: calc(6px + .5vw);
        left: 50%;
        transform: translateX(-50%);
    }
    .chart-label-top {
        top: 0%;
    }
    .chart-label-middle {
        top: 50%;   
        transform: translateX(-50%) translateY(-50%);
    }
    .chart-label-bottom {
        bottom: 0%;    
//        transform: translateY(-50%);
    }    
}

.question-mark {
    position: absolute;

    font-size: 14px;
    cursor: pointer;
//    top: 33%;
    color: gray;
    font-family: 'Karla';
    
    text-align: center;
    border: 1px dashed rgba(0,0,0,.3);
    

    width: 25px;
    height: 25px;
    top: 30%;
    right: 1%;
//    z-index:11000;

    background-color: white;
    opacity: .8;

}


.filter {
//    background-color: #FC2727;
    background-color: white;
    opacity: .8;
    position: absolute;
    top: 20%;
    right: 0%;
    width: 300px;
    height: auto;
    padding-bottom: 10px;
    padding-top: 10px;
    z-index: 1000;
    -moz-box-shadow:   1px 1px 3px rgba(0,0,0,.3); 
	-webkit-box-shadow:  1px 1px 3px rgba(0,0,0,.3);      
    box-shadow: 1px 1px 3px rgba(0,0,0,.3);
    transition: height .15s ease-in-out, width .15s ease-in-out, right .15 ease-in-out, opacity .15s ease-in-out;
    
    .filter-icon {
        display:none;
    }
}

.filter.hide {
    -moz-box-shadow:   0 0 3px rgba(0,0,0,.5);
	-webkit-box-shadow:   0 0 3px rgba(0,0,0,.5);
    box-shadow: 0 0 3px rgba(0,0,0,.5);
    width: 50px;
    height: 50px;
    right: 0%;
    
    .filter-icon {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
    }
    
    .hide-wrapper {
        display: none;
    }
}



.filter-header {
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: center;
    font-family: 'Karla';
    font-size: 12px;
}

.filter-icon{
    position: absolute;
    bottom: 5%;
    left: 5%;
}


.slider-block {
    height: auto;
    width: 60px;
    float: left; 
}

.slider-label {
    color: rgba(0,0,0,.7);
    text-align: center;
    margin-left: 0;
    margin-right: 0;
    font-size: 12px;
    text-align: center;
    padding-bottom: 10px;
}





.reset-button {
    font-size: 12px;
    opacity: .3;
    position: absolute;
    right: 4%;
    bottom: 4%;
    color: blue;
    cursor: pointer;
    transition: opacity .2s ease-in-out;
}
.reset-button:hover {
  opacity: 1;  
};

.state-filter {
    width: 100%;
    height: 100px;
}

.slider {
    position:relative;
    width: 100%;
    height: 50px;
    cursor: pointer;
    .fill-inner {
        background-color: lightgrey;
        border-radius: 20%;
        position: absolute;
    }
    .thumb {
        height: 7px;
        width: 7px;
        border: 1px solid black;
        position: absolute;
        z-index: 5;
        border-radius: 100%;
        background-color: white;
    } 
    .thumb-tooltip {
        position: absolute;
        pointer-events: none;
        z-index: 3000;
        display:none;
        font-family: Inconsolata;
        font-size: 10px;
    }        
}

.slider.vertical {
    .fill-inner {
        left: 50%;  
        height: 100%;
        width: 2px;        
        transform: translateX(-50%);            
    }
    .thumb {
        left: 50%;    
        //transform: translateX(-50%) translateY(50%);        
    }
    .thumb.thumb-lower {
        bottom: 0%; 
        transform: translateX(-50%) translateY(50%);              
    }
    .thumb.thumb-upper{
        bottom: 100%; 
        transform: translateX(-50%) translateY(50%);              
    }
    .thumb-upper.thumb-active {
        transform: translateX(-50%) translateY(50%) scaleX(1.4) scaleY(1.4); 
    }
    .thumb-lower.thumb-active {
        transform: translateX(-50%) translateY(50%) scaleX(1.4) scaleY(1.4);  
    }     
    .thumb-tooltip {
        top: 50%;
        right: 50%;    
        transform: translateX(-70%) translateY(-50%);    
    }    
}

.slider.horizontal {
    width: 50px;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    .thumb-tooltip {
        display: block;
    }    
    .fill-inner {
        top: 50%;  
        width: 100%;
        height: 2px;        
        transform: translateY(-50%);            
    }
    .thumb {
        top: 50%;          
    }
    .thumb-tooltip {
        bottom: 200%;
        left: 0%;  
        transform: translateX(-50%);
    }    
    .thumb.thumb-lower {
        left: 0%; 
        transform: translateX(-50%) translateY(-50%);  

    }
    .thumb.thumb-upper{
        left: 100%; 
        transform: translateX(-50%) translateY(-50%); 
    }
         
}



.half-column {
    width: 50%;
    float: left;
    position : relative;
}

.search {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60%;
    height: 30%;
    font-size: 10px;
    font-family: Inconsolata;
    border-left: none;
    border-right: none;
    border-bottom: none;
    border: none;
    transform: translateX(-50%) translateY(-50%);
    outline: none;
    resize: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.ui-autocomplete {
    font-size:10px;
    z-index: 6000;
    color: gray;
    border: 1px dashed rgba(0,0,0,.3);
    padding-left: 0;
    margin-left: 0;
    max-height: 180px;
    width: 50px;
    overflow-y: hidden;
    position: absolute;
    padding: 3px;
    background-color: rgba(255,255,255,.5);
    display: block;
}

.ui-menu-item {
    padding: 2px;
    cursor: pointer;
}



.slider-holder {
    padding-left: 40px;
    height: 100px;
}

.slider-patexp {
    left: 30%;
    top: 50%;
    transform: translateY(-50%);    
}
.slider-outcome {
    left: 40%;
    top: 50%;
    transform: translateY(-50%); 
    
}
.slider-cost {
    left: 70%;
    top: 50%;
    transform: translateY(-50%);    
}


.project-content {
    max-width: 1100px;
}
.project-border {
    background-color: white;
}

.circle {
    z-index: 14000;
}


.tooltip {
    position: absolute;
    pointer-events: none;
//    right: -100%;
//    top: -50%;
    transform: translateX(-50%) translateY(-80%);
    z-index: 9000;
    display:none;
    font-family: Inconsolata;
    font-size: 12px;
    text-shadow: 0px 0px .5px rgba(0,0,0,.3);
//    background-color: yellow;
//    opacity: .7;
}
.tooltip2 {
        position: absolute;
    pointer-events: none;
 z-index: 9000;
    display:none;
    font-family: Inconsolata;
    font-size: 10px; 
    text-shadow: 0px 0px .5px rgba(0,0,0,.3);
   // border: 1px dashed black;
    transform: translateX(-100%);
}

.chart-tooltip-holder {
    width: auto;
//    height: 100%;
    overflow-y: auto;
    position: relative;
}

.y-axis {
    position: relative;
    opacity: .4;
}
.y-axis-label {

    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(-20px);
    font-size: 18px;
    letter-spacing: 3px;
    
    opacity: .5;
}

.polyline {
    fill: none;
    stroke-width: .2px;
    z-index: 3000;
    border: 5px solid black;
    padding: 30px;
}
.polyline-holder {
    position: relative;
}
.polyline-hover {
    stroke-width: 2px;
    opacity: 0;
    fill: none;
}
.polyline-hover:hover {
    opacity: 1;
}


.axis path,
.axis line {
  fill: none;
/*  stroke: #000;*/
  stroke: black;
  stroke-width: 4px;
  shape-rendering: crispEdges;
  stroke-opacity: 0.20;
/*   stroke-opacity: 0.5;*/
}
.axis {
    font: 10px Inconsolata;
}
.x.axis path {        
  display: none;
}


@media only screen and (max-width: 650px){
    .axis-label {
        font-size: 10px;
    }
}

@media only screen and (max-width: 550px){
    .axis-label {
        font-size: 6px;
    }
}


//    .fill-inner {
//        background-color: lightgrey;
//        position: absolute;
//        width: 100%;
//        height: 100%;
//    }