---
---


.chartwrapper {
    padding-top: 50px;
    position: relative;
    font-family: 'Inconsolata';
//    padding-left: 40px;
//    padding-right: 40px;
}

.chart {
//    padding-left: 30px;
//    padding-right: 30px;
}

.axis-label {
    position: absolute;
    top: 0;
    transform: translateX(-50%);
    text-transform: uppercase;    
    color: grey;
    font-weight: 900;
    font-size: 14px;
    font-family: 'Karla';
    opacity: .85;
}

.block {
    width: 85vw;
}


.filter {
//    background-color: #FC2727;
    background-color: white;
    opacity: .8;
    position: absolute;
    top: 15%;
    right: 0%;
    width: 300px;
    height: auto;
    padding-bottom: 10px;
    padding-top: 10px;
    z-index: 1000;
    box-shadow: 1px 1px 3px rgba(0,0,0,.3);
    transition: height .15s ease-in-out, width .15s ease-in-out, right .15 ease-in-out, opacity .15s ease-in-out;
    
    .filter-icon {
        display:none;
    }
}

.filter.hide {
    
    box-shadow: none;
    width: 50px;
    height: 50px;
    border: .5px dashed rgba(0,0,0,.3);
    right: -1%;
    
    .filter-icon {
        display: block;
        position: absolute;
        top: 50%;
        left: 40%;
        transform: translateX(-50%) translateY(-50%);
    }
    
    .filter-header {
        display:none;
    }
    .slider-holder {
        display: none;
    }

}

.filter-header {
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: center;
    font-family: 'Karla';
    font-size: 12px;
}

.filter-icon{
    position: absolute;
    bottom: 5%;
    left: 5%;
}


.slider-block {
    height: auto;
    width: 60px;
    float: left; 
}

.slider-label {
    color: rgba(0,0,0,.7);
    text-align: center;
    margin-left: 0;
    margin-right: 0;
    font-size: 12px;
    text-align: center;
    padding-bottom: 10px;
}

.slider {
    position:relative;
    width: 100%;
    height: 60px;
    .fill-outer {
        height: 100%;
        width: 2px;
        background-color: lightgrey;
        border-radius: 20%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);    
    }
    .fill-inner {
//        background-color: darkslategrey;
        position: absolute;
        width: 100%;
        height: 100%;
    }
    .thumb {
        height: 7px;
        width: 7px;
        border: 1px solid black;
//        background-color: blue;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        z-index: 3;
        border-radius: 100%;
//        cursor: pointer;
    }

    .thumb.thumb-lower {
        bottom: 0%;
        transform: translateX(-50%) translateY(50%);
    }
    .thumb.thumb-upper {
        bottom: 100%;
        z-index: 5;
        transform: translateX(-50%) translateY(50%);      
    }
}


.slider-holder {
    padding-left: 40px;
    height: 100px;
}

.slider-patexp {
    left: 30%;
    top: 50%;
    transform: translateY(-50%);    
}
.slider-outcome {
    left: 40%;
    top: 50%;
    transform: translateY(-50%);    
}
.slider-cost {
    left: 70%;
    top: 50%;
    transform: translateY(-50%);    
}


.project-content {
    max-width: 1100px;
}
.project-border {
    background-color: white;
}



.tooltip {
    position: absolute;
    pointer-events: none;
    left: 50%;
    top: 50%;
    z-index: 3000;
    display:none;
    font-family: Inconsolata;
    font-size: 12px;
    background-color: rgba(255,255,255,.3)
}

.y-axis {
    position: relative;
    opacity: .4;
}
.y-axis-label {

    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(-20px);
    font-size: 18px;
    letter-spacing: 3px;
    
    opacity: .5;
}

.polyline {
    fill: none;
    stroke-width: .17px;
    z-index: 3000;
    border: 5px solid black;
    padding: 30px;
}

.polyline-holder {
    position: relative;
}

.polyline-hover {
    stroke-width: 2px;
    opacity: 0;
    fill: none;
}

.polyline-hover:hover {
    opacity: 1;
}


.axis path,
.axis line {
  fill: none;
/*  stroke: #000;*/
  stroke: black;
  stroke-width: 4px;
  shape-rendering: crispEdges;
  stroke-opacity: 0.20;
/*   stroke-opacity: 0.5;*/
}
.axis {
    font: 10px Inconsolata;
}
.x.axis path {        
  display: none;
}


@media only screen and (max-width: 650px){
    .axis-label {
        font-size: 10px;
    }
}
