---
---
@import 'about';
@import 'animations';
@import 'grid';
@import 'interaction';
@import 'project';
@import 'scatter';


$base-font-family: Inconsolata, HeimatSans-Regular7, Inconsolata;
$base-font-size:   16px;
$base-font-weight: 900;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;
$spacing-unit:     30px;
$breakpoint-1: 950px;
$breakpoint-2: 750px;
$breakpoint-3: 640px;
$breakpoint-4: 480px;

$button-border-radius: 3%;

//$card1-box-shadow: 0 1px 1px 0px rgba(0,0,0,.5);
$card1-box-shadow: none;


$card-border: 1px solid rgba(0,0,0,.2);
//$card-border: none;

//$card-border-radius: 5%;
$card-border-radius: 0%;

$research-background: #1C85FF;
$datavis-background: #FC2727;
$object-background: #50E3C2;


//$research-background: white;
//$datavis-background: white;
//$object-background: white;

$tagcard-opacity: .13;
$tagcard-translateX: 3%;
$tagcard-translateY: 3%; 

$thumbnailcard-opacity: .5;
$thumbnailcard-translateX: 9%;
$thumbnailcard-translateY: 9%; 

$synposiscard-opacity: .9;
$synposiscard-translateX: 15%;
$synposiscard-translateY: 15%; 

$footer-height: .5rem;
$content-margin-bottom: 50px;

$background-color: #FFFAFA;

*, *::before, *::after {
//    font-family: $base-font-family;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
html, body {
    margin: 0;
    height: 100%;
    background-color: $background-color;
    font-family: $base-font-family;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;    
    font-family: 'Inconsolata', 'Karla', sans-serif;    
}
body {
    margin: 0;
    padding: 0%;
    height: 100%;
    background-color: $background-color;
}
.content {
    display:none;
//    top: 30%;
//    transform: translateY(-30%);
    width: 85vw;
    height: 85vh;
    min-height: 650px;
    max-width: 1400px;
    max-height: (1/1.77)*1400px;
//    margin-left: 5vw;
//    margin-top: 2vh;    
    position: relative;
    margin-left: auto;
    margin-right:auto;
//    left: 50%;
//    transform: translateX(-60%);   
}
.contentwrapper {
    height: 99%;
    width: 100%;
    overflow: auto;
    float: left;
}


.cardholder.personaldata {
    opacity: .3;
    pointer-events: none;
}

//issue is that contentwrapper is not expandings
footer {
    clear: both;
    float: left;
    height: 1%;
    width: 100%;
}
footer {
    .bottomrect {
        width: 100%;
        height: 100%;
        background-color: yellow;
//        background-color: #FFEE19;
    }
//    .toprect {
//        width: 100%;
//        height: 20%; 
//        opacity: .3;
//        background-color: #FFEE19;
//    }
}

.link-inactive {
   pointer-events: none;
   cursor: default;    
};

//SIDEBAR STUFF
.about-button {
    z-index: 2000;
    position: absolute;
    top: 0%;
    right: 0%;
    border: none;
    top: 1%;
    right: 1%;
//    border-radius: 3%;
    width: 100px;
    height: 50px; 
    //border: .5px solid rgba(0,0,0,.9);
    border: 1px solid black;
//    -moz-box-shadow:  0 0 3px 2px rgba(0, 0, 0, 0.3);  
//	-webkit-box-shadow:  0 0 3px 2px rgba(0, 0, 0, 0.3);  
//    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.3);          
    p {
        margin-top: auto;
        margin-bottom: auto;
        text-align: center;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }  
}
.about-button:hover {
    background-color:blue;
    color: white;
}
.about-button-aboutpage:hover {
    color: black;
    background-color: white;
}
.about-button-unclicked {       
    font-size: 20px; 
//    background-color: white;  
    color: black;
    letter-spacing: 3px;
    font-weight: 900;    
    p {
        transform: rotate(-5deg);
        top: 0;
    }
}
.about-button-aboutpage {   
    font-size: 16px;    
    background-color: white;
    color: red;
    letter-spacing: 3px;
    font-family: Inconsolata;
    font-weight: 900;   
}

.about-button-clicked {       
    font-size: 20px; 
    color: black;
    opacity: .5;
    letter-spacing: 3px;
    font-family: Inconsolata;
    font-weight: 900;     
}

.sidebar-categories {
    z-index: 5;
    height: 200px;
    position: fixed;
    top: 17%;
    right: -5px;
//    font-weight: 900;
    font-size: .8rem;    
    color: white;
    border: none;
    
    .datavis {background-color: $datavis-background}
    .research {background-color: $research-background}    
    .object {background-color: $object-background}            
    .category {
             width: 100px; 
            height: 40px; 
            border-radius: $button-border-radius; 
            margin-top: .4rem; 
        p {
            position: absolute;
            left: 20%;
            top: 50%;
            transform: translateY(-50%);
            margin: 0;
            padding: 0;
        }

    }
    
 }
//BUTTON FOR TIMESORTING
.time-sort {
    position: fixed;
    right: -5px;
//    top: 39%;
    margin-top: .8rem;
    width: 100px;
    height: 40px;
    border-radius: $button-border-radius;
    background-color: lightgrey;
    //border: .5px dotted black;
    color: black;
    z-index: 3;
  
    .bar-container {
        float: left;
        width: 30%;
        height: 100%;
        position: relative;
        
        
        [class*='bar-']{
            float:right;
            position: absolute;
            height: 15%;
            clear: both;
//            opacity: .5;
            right: -1%;
            background-color: white;
//            border-left: 1px solid black;
            padding-top: 5%;
            padding-bottom: 5%;

        }
        .bar-1 {
           width: 80%;
            top: 15%;
         border-left: 2px solid $datavis-background;   
//            border-bottom: .01px solid black;
//            border-top: .01px solid black;            
        }
        .bar-2 {
            width: 65%;
            top: 50%;
            transform: translateY(-50%);
         border-left: 2px solid $research-background;                
        }
        .bar-3 {
            width: 90%;
            bottom: 18%;
         border-left: 2px solid $object-background;                
        }
    }
    .label-container {
        z-index: 3;
        float: left;
        position: relative;
        border-left: .5px solid white;

        
        width: 70%;
        font-size: 10px;
        margin: 0;
        height: 100%;
        padding-left: 20%;
//        background-color: black;
        color: black;

        
        p {
            position: absolute;
            margin: 0;
            float: left;
            top: 50%;
            left: 15%;
            letter-spacing: 2px;
            transform: translateY(-50%);
        }
    }

    
}



///CARD STYLING

.card {
    border-radius:  $card-border-radius;
    color: white;
    width: 85%;
    height: 85%;
    position: absolute;   
    border: $card-border; 
    .cardtitle {
        text-align: right;
        position: absolute;
        right: 0%;
        bottom: 3%;
        font-weight: 900;
        letter-spacing: 4px;
    }
    p {
        font-color: white;
        position: absolute;
        text-align: center;       
    }
}




.card.datavis {
    background-color: $datavis-background;
}
.card.research {
    background-color: $research-background;
}
.card.object {
    background-color: $object-background;
}
//stackedBar = timegrid arrangement
.card.card3.stackedBar {
    transform: translateX($tagcard-translateX) ;
}
.card.card2.stackedBar {
    transform: translateX($thumbnailcard-translateX) ;  
}
.card.card1.stackedBar {
    transform: translateX($synposiscard-translateX) ;
    .cardtitle {
        font-weight: 400;
    }
}

.cardcontent {
    display:none;
    height: 100%;
    overflow:hidden;
    text-align: center;
    position: relative;
    img {
        width: 100%;
        height: 100%;
        border-radius: $card-border-radius;
    }
    
    p {
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        text-align: center;
        width: 90%;
//        transform: translateY(-50%);
        margin: 0;
        
    }
}

.card.card3 {
    display:block;
    transform: translateX($tagcard-translateX) translateY($tagcard-translateY);  
    .cardcontent {
        width: 100%;       
    }
}
.card.card2 {
    display: block;
    transform: translateX($thumbnailcard-translateX) translateY($thumbnailcard-translateY);
    .cardcontent {
        width: 100%;
//        left: 10%;
        position: absolute;   
   
//        p {
////            width: 100%;
//            transform: translateX(-50%);
//            left: 50%;
//            text-align: left;
////            position: absolute;
//        }        
    }
}
.card.card1 {
    display: block;
    transform: translateX($synposiscard-translateX) translateY($synposiscard-translateY); 
    .cardcontent {
        width: 100%;
//        left: 10%;
        position: absolute;    
//        p {
//            text-align: center;
//            position: absolute;
//            top: 50%;
//            transform: translateY(-100%);
//        }        
    }
}


.card-selector {
    -moz-box-shadow:  0 0 3px 1px rgba(0, 0, 0, 0.5);     
	-webkit-box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.5);         
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.5);        
    opacity: 1;
    z-index: 1500;
    .cardcontent{
        display: block;
    }
    .cardtitle {
        display: none;
    }
}
.card3select {
    opacity: $tagcard-opacity;
    z-index: 2;   
}
.card2select {
    opacity: $thumbnailcard-opacity;    
    z-index: 3;
}
.card1select {
    opacity: $synposiscard-opacity;  
    z-index: 4;
    -moz-box-shadow:   $card1-box-shadow;    
	-webkit-box-shadow:  $card1-box-shadow;       
    box-shadow: $card1-box-shadow;    
    //box-shadow: 0 0 0 1px rgba(0,0,0,.3);       
}

         
