---
---


$child1 : '.cardholder.hospitalquality';
$child2 : '.cardholder.missingrx';
$child3 : '.cardholder.personaldata';
$child4 : '.cardholder.thesis';
$child5 : '.cardholder.narrative';
$child6 : '.cardholder.tools';
$child7 : '.cardholder.table';
$child8 : '.cardholder.tea';

//font-size relative to container width
$font-size-factor: .07;
$med-font-size-factor: .057;
$small-font-size-factor: $med-font-size-factor;
//using real names instead of n-th child b/c faster

$large-card-title-fontsize: 1.9vw;

//related to breakpoint resizinf
$breakpoint-1: 1035px;
$breakpoint-2: 750px;
$breakpoint-3: 640px;
$breakpoint-4: 480px;
$footer-height: 1rem;
//factor by which boxes are multiplied after first & second breakpts
$mediumFactor : 1.15;
$smallFactor : 1.3;
$cardratio: .75;

$content-height: 41.5rem;

$hospitalquality-width: 27vw;
$hospitalquality-height: $cardratio * $hospitalquality-width;
$hospitalquality-top: 9.1%;
$hospitalquality-left: 3.25%;
    
$missingrx-width: 21vw;
$missingrx-height: $cardratio*$missingrx-width;
$missingrx-top: 2%;
$missingrx-left: 37%;

$personaldata-width: 18vw;
$personaldata-height: $cardratio * $personaldata-width;
$personaldata-top: 36%;
$personaldata-left: 45.5%;
    
$thesis-width: 25vw;
$thesis-height: $cardratio*$thesis-width;
$thesis-top: 52%;
$thesis-left: 14.25%;
    
$narrative-width: 18vw;
$narrative-height: $cardratio * $narrative-width;
$narrative-top: 70.25%;
$narrative-left: 45.5%;
    
$tools-width: 17vw;
$tools-height: $tools-width * $cardratio;
$tools-top: 16%;
$tools-left: 76.7%;
    
$table-width: 12vw;
$table-height: $table-width * $cardratio;
$table-top: 51%;
$table-left: 71.25%;
    
$tea-width: 10vw;
$tea-height: $tea-width * $cardratio;
$tea-top: 75%;
$tea-left: 78%;

$max-width-1: 320px;
$max-width-2: 248.844px;
$max-width-3: 213.297px;
$max-width-4: 296.25px;
$max-width-5: 213.297px;
$max-width-6: 201.438px;
$max-width-7: 142.2px;
$max-width-8: 118.5px;


  //simply sizes and positions (left, top) cardholders  
.scatter-large {
    
    .cardholder {
        position: absolute;
    }
    .cardtitle {
        font-size: $large-card-title-fontsize;
    }
    #{$child1} {
        width: $hospitalquality-width;
        max-width: $max-width-1;
        max-height: $cardratio*$max-width-1;
        height: $hospitalquality-height;
        top: $hospitalquality-top;
        left: $hospitalquality-left;    
            .cardcontent p {
                font-size: $font-size-factor * $hospitalquality-width;            
            }
        }  
    
    
    #{$child2}  {
        width: $missingrx-width;
        height: $missingrx-height;
        max-width: $max-width-2;  
        max-height: $cardratio*$max-width-2;        
        top: $missingrx-top;
        left: $missingrx-left;
            .cardcontent p {
                font-size: $font-size-factor * $missingrx-width;            
            }        
    }
    #{$child3} {
        width: $personaldata-width;
        height: $personaldata-height;
        max-width: $max-width-3;   
        max-height: $cardratio*$max-width-3;        
        top: $personaldata-top;
        left: $personaldata-left;
            .cardcontent p {
                font-size: $font-size-factor * $personaldata-width;            
            }        
    }
    #{$child4}  {
        width: $thesis-width;
        height: $thesis-height;
        max-width: $max-width-4; 
        max-height: $cardratio*$max-width-4;        
        top: $thesis-top;
        left: $thesis-left;
            .cardcontent p {
                font-size: $font-size-factor * $thesis-width;            
            }        
    }
    #{$child5}  {
        width: $narrative-width;
        height: $narrative-height;
        max-width: $max-width-5;   
        max-height: $cardratio*$max-width-5;        
        top: $narrative-top;
        left: $narrative-left;
            .cardcontent p {
                font-size: $font-size-factor * $narrative-width;            
            }        
    }
    #{$child6}  {
        width: $tools-width;
        height: $tools-height;
        max-width: $max-width-6;   
        max-height: $cardratio*$max-width-6;        
        top: $tools-top;
        left: $tools-left;
            .cardcontent p {
                font-size: $font-size-factor * $tools-width;            
            }        
    }
    #{$child7} {
        width: $table-width;
        height: $table-height;
        max-width: $max-width-7;
        max-height: $cardratio*$max-width-7;        
        top: $table-top;
        left: $table-left;
            .cardcontent p {
                font-size: $font-size-factor * $table-width;            
            }        
    }
    #{$child8} {
        width: $tea-width;
        height: $tea-height;
        max-width: $max-width-8;   
        max-height: $cardratio*$max-width-8;        
        top: $tea-top;
        left: $tea-left;
            .cardcontent p {
                font-size: $font-size-factor * $tea-width;            
            }        
    }
}//endscatter


.scatter-medium {
        
    $card-title-fontsize: $mediumFactor*$large-card-title-fontsize;

    $med-hospitalquality-width: $mediumFactor * $hospitalquality-width;
    $med-hospitalquality-height: $cardratio * $med-hospitalquality-width;
    $med-hospitalquality-top: 9.1%;
    $med-hospitalquality-left: 0%;

    $med-missingrx-width: $mediumFactor*$missingrx-width;
    $med-missingrx-height: $cardratio*$med-missingrx-width;
    $med-missingrx-top: 2%;
    $med-missingrx-left: 37%;

    $med-personaldata-width: $mediumFactor*$personaldata-width;
    $med-personaldata-height: $cardratio * $med-personaldata-width;
    $med-personaldata-top: 36%;
    $med-personaldata-left: 45.5%;

    $med-thesis-width: $mediumFactor*$thesis-width;
    $med-thesis-height: $cardratio*$med-thesis-width;
    $med-thesis-top: 52%;
    $med-thesis-left: 10%;

    $med-narrative-width: 1.15*$narrative-width;
    $med-narrative-height: $cardratio * $med-narrative-width;
    $med-narrative-top: 70.25%;
    $med-narrative-left: 45.5%;

    $med-tools-width: $mediumFactor * $tools-width;
    $med-tools-height: $cardratio  * $med-tools-width;
    $med-tools-top: 16%;
    $med-tools-left: 76.7%;

    $med-table-width: $mediumFactor* $table-width;
    $med-table-height: $cardratio  * $med-table-width;
    $med-table-top: 51%;
    $med-table-left: 71.25%;

    $med-tea-width: $mediumFactor*$tea-width;
    $med-tea-height: $med-tea-width* $cardratio;
    $med-tea-top: 75%;
    $med-tea-left: 78%;

    .cardtitle {
        font-size: $card-title-fontsize;
    }
    .cardholder {
        position: absolute;
    }
    #{$child1}{
        width: $med-hospitalquality-width;
        height: $med-hospitalquality-height;
        top: $med-hospitalquality-top;
        left: $med-hospitalquality-left;
            .cardcontent p {
                font-size: $med-font-size-factor * $med-hospitalquality-width;
            }           
        }     
    #{$child2}{
        width: $med-missingrx-width;
        height: $med-missingrx-height;
        top: $med-missingrx-top;
        left: $med-missingrx-left;
            .cardcontent p {
                font-size: $med-font-size-factor  * $med-hospitalquality-width;
            }           
    }
    #{$child3}{
        width: $med-personaldata-width;
        height: $med-personaldata-height;
        top: $med-personaldata-top;
        left: $med-personaldata-left;
            .cardcontent p {
                font-size: $med-font-size-factor  * $med-hospitalquality-width;
            }           
    }
    #{$child4}{
        width: $med-thesis-width;
        height: $med-thesis-height;
        top: $med-thesis-top;
        left: $med-thesis-left;
            .cardcontent p {
                font-size: $med-font-size-factor  * $med-thesis-width;
            }           
    }
    #{$child5} {
        width: $med-narrative-width;
        height: $med-narrative-height;
        top: $med-narrative-top;
        left: $med-narrative-left;
            .cardcontent p {
                font-size: $med-font-size-factor  * $med-narrative-width;
            }           
    }
    #{$child6}{
        width: $med-tools-width;
        height: $med-tools-height;
        top: $med-tools-top;
        left: $med-tools-left;
            .cardcontent p {
                font-size: $med-font-size-factor  * $med-tools-width;
            }           
    }
    #{$child7}{
        width: $med-table-width;
        height: $med-table-height;
        top: $med-table-top;
        left: $med-table-left;
            .cardcontent p {
                font-size: $med-font-size-factor  * $med-table-width;
            }           
    }
    #{$child8} {
        width: $med-tea-width;
        height: $med-tea-height;
        top: $med-tea-top;
        left: $med-tea-left;
            .cardcontent p {
                font-size: $med-font-size-factor  * $med-tea-width;
            }           
    }
}




//save the footer plz
//@media only screen and (min-width: $breakpoint-3){
//
//    footer {
//    position: absolute;
//    bottom: 0;
//    left: 0;
//    width: 100%;
//    height: $footer-height;
//    }
//}

//endscatter

//
//.scatter-small {
//    
////define multiplication factor && make life easier    
//    
//    $card-title-fontsize: $smallFactor*1.9vw;
//
//    $small-hospitalquality-width: $smallFactor*$hospitalquality-width;
//    $small-hospitalquality-height: $cardratio * $small-hospitalquality-width;
//    $small-hospitalquality-top: 9.1%;
//    $small-hospitalquality-left: 0%;
//
//    $small-missingrx-width: $smallFactor*$missingrx-width;
//    $small-missingrx-height: $cardratio*$small-missingrx-width;
//    $small-missingrx-top: 2%;
//    $small-missingrx-left: 37%;
//
//    $small-personaldata-width: $smallFactor*18vw;
//    $small-personaldata-height: $cardratio * $small-personaldata-width;
//    $small-personaldata-top: 36%;
//    $small-personaldata-left: 45.5%;
//
//    $small-thesis-width: $smallFactor*$thesis-width;
//    $small-thesis-height: $cardratio*$small-thesis-width;
//    $small-thesis-top: 52%;
//    $small-thesis-left: 10%;
//
//    $small-narrative-width: $smallFactor*$narrative-width;
//    $small-narrative-height: $cardratio * $small-narrative-width;
//    $small-narrative-top: 70.25%;
//    $small-narrative-left: 45.5%;
//
//    $small-tools-width: $smallFactor*$tools-width;
//    $small-tools-height: $small-tools-width * $cardratio;
//    $small-tools-top: 16%;
//    $small-tools-left: 76.7%;
//
//    $small-table-width: $smallFactor*$table-width;
//    $small-table-height: $small-table-width * $cardratio;
//    $small-table-top: 51%;
//    $small-table-left: 71.25%;
//
//    $small-tea-width: $smallFactor*$tea-width;
//    $small-tea-height: $small-tea-width * $cardratio;
//    $small-tea-top: 75%;
//    $small-tea-left: 78%;
//    
//    .cardtitle {
//        font-size: $card-title-fontsize;
//    }
//    
//    .cardholder {
//        position: absolute;
//    }
//     #{$child1} {
//        width: $small-hospitalquality-width;
//        height: $small-hospitalquality-height;
//        top: $small-hospitalquality-top;
//        left: $small-hospitalquality-left;
//            .cardcontent p {
//                font-size: $small-font-size-factor * $small-hospitalquality-width;
//            }            
//        }     
//      #{$child2} {
//        width: $small-missingrx-width;
//        height: $small-missingrx-height;
//        top: $small-missingrx-top;
//        left:$small-missingrx-left;
//            .cardcontent p {
//                font-size: $small-font-size-factor * $small-missingrx-width;
//            }             
//    }
//    #{$child3}{
//        width: $small-personaldata-width;
//        height: $small-personaldata-height;
//        top: $small-personaldata-top;
//        left: $small-personaldata-left;
//            .cardcontent p {
//                font-size: $small-font-size-factor * $small-personaldata-width;
//            }            
//    }
//    #{$child4} {
//        width: $small-thesis-width;
//        height: $small-thesis-height;
//        top: $small-thesis-top;
//        left: $small-thesis-left;
//            .cardcontent p {
//                font-size: $small-font-size-factor * $small-thesis-width;
//            }            
//    }
//    #{$child5}  {
//        width: $small-narrative-width;
//        height: $small-narrative-height;
//        top: $small-narrative-top;
//        left: $small-narrative-left;
//            .cardcontent p {
//                font-size: $small-font-size-factor * $small-narrative-width;
//            }            
//    }
//    #{$child6}{
//        width: $small-tools-width;
//        height: $small-tools-height;
//        top: $small-tools-top;
//        left: $small-tools-left;
//            .cardcontent p {
//                font-size: $small-font-size-factor * $small-tools-width;
//            }            
//    }
//    #{$child7} {
//        width: $small-table-width;
//        height: $small-table-height;
//        top: $small-table-top;
//        left: $small-table-left;
//            .cardcontent p {
//                font-size: $small-font-size-factor * $small-table-width;
//            }            
//    }
//    #{$child8}{
//        width: $small-tea-width;
//        height: $small-tea-height;
//        top: $small-tea-top;
//        left: $small-tea-left;
//            .cardcontent p {
//                font-size: $small-font-size-factor * $small-tea-width;
//            }            
//    }
//}//endscatter
//
