---
---

.project-border {
    background-color: white;
}


.block-image {
    margin-top: 2rem;
    margin-bottom: 2rem;
//    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);    
}

.image-button {
    display: none;
}

.text-button {
    display: none;
}