
@import 'ref';
@import url("https://use.typekit.net/lfp3hrx.css");

$highlight-color: #0d0d0d;

body {
  font-family: 'odisseia';
  font-family: 'roboto mono';
  font-weight: 400;
  background: #0e0e0e;
   background-image: linear-gradient(
   to right,
   #0f0f0f,
   #000000 10%,
   #0f0f0f 90%
   );
  font-size: 12px;
  outline-style:none;
  outline:none;
}
g:focus {
  outline: none;
}
svg {
  outline: none;
}

svg.canvas {
  width: 100%;
  height: 100%;

}
.thought {
  cursor: pointer;
}
.thought-container, .thought-card {
  cursor: grab;
}

.split-btn {
  position: fixed;
  top: 50px;
  right: 100px;
  background: blue;
  color: white;
  cursor: pointer;
}
.sort-btn {
  position: fixed;
  top: 50px;
  right: 50px;
  background: blue;
  color: white;
  cursor: pointer;
}

.thought-content {
  cursor: pointer;
  padding: 10px 10px;
}
