---
layout: default
---
<main class="content"> 
        
    <section class="leftcontent">
       {% for category in site.data.categories %}
            {% if category.layout == 'left' %}
                <section class="{{category.category}}">
                      {% for project in site.data.projects %}
                                  {% if category.category == project.category %}
                                     <div class="cardholder {{project.title}}">
                                        <div class="card thumbnail {{project.title}}"></div>  
                                        <div class="card synposis {{project.title}}"></div>
                                        <div class="card tags {{project.title}}"></div>
                                    </div>
                                {% endif %}
                      {% endfor %}
                </section>
            {% endif %}
      {% endfor %}
    </section>
    
    <section class="rightcontent">
       {% for category in site.data.categories %}
            {% if category.layout == 'right' %}
                       <section class="{{category.category}}">
                  {% for project in site.data.projects %}
                              {% if category.category == project.category %}
                                 <div class="cardholder {{project.title}}">
                                    <div class="card thumbnail {{project.title}}"></div>  
                                    <div class="card synposis {{project.title}}"></div>
                                    <div class="card tags {{project.title}}"></div>          
                                </div>
                            {% endif %}
                  {% endfor %}
                        </section>
            {% endif %}
      {% endfor %}
        
    </section>
    
</main>   

<div class='widthchecker'></div>

<section class="sidebar">  
    <div class="sidebar-categories">
        {% for category in site.data.categories %}
            <div class="button {{category.category}}" style="background-color: {{category.color}};  width: 100px; height: 50px; border-radius: 15%; margin-top: .4rem; transform: translateX(75%)"></div>
        {% endfor %}
    </div>
    <div class="questionmark">?</div>
</section> 
<div style="clear:both;"></div>

<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
<script type="text/javascript" src="assets/scripts/projectvar.js"></script>


        