.slider-block {
  width: 100%;
  min-height: 45px;
  display: flex;
  clear: both;
}

.filter- .procedure-filters {
  font-size: 12px;
}

.slider-label {
  float: left;
  width: 80px;
}

.radio {
  padding-left: 10px;
}

[type=radio]:not(:checked) + span, [type=radio]:checked + span {
  color: black;
}

[type=radio]:checked + span:after, [type=radio].with-gap:checked + span:before, [type=radio].with-gap:checked + span:after {
  border-color: #416bfd;
}

[type=radio]:checked + span:after, [type=radio].with-gap:checked + span:after {
  background-color: #416bfd;
}

[type=radio]:not(:checked) + span:before, [type=radio]:not(:checked) + span:after {
  border-color: black;
}

.slider {
  height: 2px;
  width: 140px;
  background: black;
  position: relative;
  float: left;
  margin-left: 20px;
  margin-top: 10px;
}

.thumb.thumb-lower {
  left: 0%;
  top: 0;
  transform: translateX(-50%) translateY(-50%);
}

.thumb.thumb-upper {
  left: 100%;
  top: 0;
  transform: translateX(-50%) translateY(-50%);
}

.thumb {
  height: 20px;
  width: 20px;
  background: #ececec;
  border: 2px solid black;
  position: absolute;
  border-radius: 100%;
  cursor: pointer;
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.2);
}

.thumb-tooltip {
  font-weight: 700;
  transform: TranslateX(-50%);
  left: 50%;
  position: relative;
  top: 19.5px;
  /* color: gray; */
  font-size: 9px;
}

.thumb.active, .thumb:hover {
  border-color: #416bfd;
}

.filter-block {
  display: flex;
}

.nodeheader {
  font-weight: 700;
}

.values.nodeheader {
  margin-top: 20px;
  margin-bottom: 20px;
}

.nodebody {
  margin-top: 13px;
  margin-bottom: 10px;
}

.nodebody.specialists.disabled {
  opacity: 0.4;
}

.node-filters {
  padding: 5px 10px;
}

.node-filter-button.active, .node-remove-button.active {
  opacity: 1;
  pointer-events: all;
}

.node-filter-button, .node-remove-button {
  opacity: 0.4;
  pointer-events: none;
  transition: opacity 0.05s ease-in-out;
}

#filters {
  width: 359px;
  overflow-y: auto;
  height: auto;
  color: black;
  position: absolute;
  right: 0;
  top: 40px;
  background: rgba(255, 255, 255, 0.98);
  /* border-top: 1px solid $primary; */
  transition: all 0.2s ease-in-out;
  box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.1);
  border-radius: 1px;
  display: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 10px;
  line-height: 1.4rem;
}

.tier-2.selector {
  margin-left: 13px;
  margin-top: 3px;
  margin-bottom: 2px;
}

.tier-3.holder, .tier-3.selector {
  margin-left: 19px;
}

.tier-3.holder {
  display: none;
}

[type=checkbox] + span:not(.lever) {
  font-size: 13px;
}

.tier-1 [type=checkbox] + span:not(.lever) {
  color: black;
  font-weight: 700;
}

.tier-1 .tier-2 [type=checkbox] + span:not(.lever) {
  color: black;
  font-weight: 600;
}

.tier-1.holder {
  margin-top: 11px;
}

.tier-1.selector, .tier-2.selector {
  font-weight: 700;
}

.tier-3.selector {
  font-weight: 400;
}

.tier-1 .tier-2 .tier-3 [type=checkbox] + span:not(.lever) {
  color: black;
  font-weight: 600;
}

.top-buttons {
  width: 100%;
  color: #416bfd;
  text-align: center;
  z-index: 1000;
  font-size: 14px;
  align-self: center;
}

.top-buttons div {
  float: right;
  padding: 3px 4px;
  width: 80px;
  background: #f8f7f7;
  cursor: pointer;
  margin-right: 10px;
  transition: background-color 0.2s linear, border-color 0.2s linear, color 0.2s linear;
  border: 0.5px solid transparent;
}

.top-buttons div:hover {
  background: #efeded;
}

.top-buttons div.filterheader.applied:hover {
  background: #416bfd2e;
}

.top-buttons div.filterheader.active:hover {
  background: #416bfd;
}

.filterheader.applied {
  background: #416bfd2e;
}

.top-buttons div.active {
  background: #416bfd;
  color: white;
}

.rescale.inactive {
  opacity: 0.6;
}

.filterheader .material-icons {
  font-size: 16px;
  padding-right: 10px;
  transform: translateY(2px);
}

.selector {
  display: flex;
}

.checkholder {
  width: auto;
  display: flex;
  cursor: pointer;
}

.checkholder:hover .content {
  opacity: 0.6;
}

.checkholder.unselected:hover .content {
  opacity: 1;
}

.checkholder.unselected {
  opacity: 0.4;
}

.checkholder.unselected:hover {
  opacity: 0.8;
}

.checkholder.unselected .box {
  background: white;
}

.checkholder:hover .box.unselected {
  background: white;
}

.checkholder.unselected:hover .box {
  background: white;
}

.box {
  height: 10px;
  width: 10px;
  min-width: 10px;
  margin-top: 4px;
  border-radius: 3px;
  cursor: pointer;
  background: #416bfdbd;
  border: 1.5px solid #416bfd;
  transition: all 0.15s ease-in-out;
}

.collapse {
  width: 15px;
  width: 15px;
  height: 11px;
  margin-right: 10px;
  cursor: pointer;
}

.collapse .material-icons:hover {
  color: #416bfd;
}

.collapse.expanded .material-icons {
  transform: rotate(0deg);
}

.collapse .material-icons {
  line-height: 18px;
  transform: rotate(-90deg);
  font-size: 20px !important;
  transition: transform 0.1s linear;
  color: rgba(0, 0, 0, 0.7);
}

.content {
  width: auto;
  padding-left: 7px;
}

.tier-2 .content {
  font-weight: 700;
  color: black;
}

.tier-3 .content {
  font-weight: 400;
  color: #3e3939;
}/*# sourceMappingURL=filters.css.map */