
$primary:red;


svg text, .main-holder {
  font-family: 'karla';
  font-weight: 300;
  font-size: 14px;
}
.axis path {
  stroke-opacity: 0;
}


.x.axis path {
    fill:none;
}

.axis text {
  color: black;
  fill: black;
  letter-spacing: .7px;
}
.axis .tick text {
    font-size: 12px;
    fill: black;
    letter-spacing: normal;
}


.inner-band {
  mix-blend-mode: multiply;
  cursor:pointer;
}


.selected-node {
mix-blend-mode: inherit;
filter: inherit;
stroke: black;
stroke-width: 1.5;
stroke-opacity: 1 !important;
fill-opacity: 1;
}
.selected-provider-chip{
  position: absolute;
  top: 70px;
  right: 50px;
  background: #eaedef;
  border-radius: 15px;
  padding: 5px 10px;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.05);
  font-size: 12px;
  opacity: 0;
  cursor: pointer;
  background: 1px solid rgba(0,0,0,.1);
  background: #d3daf5;
  color: #416bfd;
  transition: background-color .15s ease-in-out;
}
.selected-provider-chip:hover {
  background: #c1ccf5;
}


.minor-blob {
    stroke: black;
    fill: none;
}


path.minorLine {
    stroke-width: 1px;
    stroke: rgba(0,0,0,.25);
}

circle {
  cursor: pointer;
}
circle.target-prov {
    stroke: #000000;
    fill-opacity: .5;
    stroke-opacity: .1;
    stroke-width: 1px;
      mix-blend-mode: multiply;
}
circle.target-prov:hover {
    fill-opacity: .75;
}
circle.showme {
  fill-opacity: 1  !important;
  /*stroke: black  !important;*/
  stroke-opacity: 1 !important;
  opacity: 1 !important;
}
circle:hover{
  mix-blend-mode: inherit;
  filter: none;
}
.circle:hover {
  opacity: .9;
  fill-opacity: 1;
  filter: url(#glow-hard) !important;
}

.loading {
  position: absolute;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 20px;
  color: gray;
  font-weight: 700;
  visibility: hidden;
}
.loading.show {
  visibility: visible;
}

.triangle-hover {
  position: absolute;
}

.minor-blob {
    stroke-linejoin: round;
}
.axis.axisLabel text {
    font-weight: 400;
}
.timelinePath {
    fill: none;
    stroke-width: 3px;
    stroke-linecap: round;
}
