@import 'filters';
@import 'graph';


$primary:red;

$max-width: 900px;
$width: 65vw;


::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,.15);
    background-color: #e5dcdc;
    box-shadow: inset 0 0 1px rgba(0,0,0,.15);
    width: 8px;
}
::-webkit-scrollbar-track {
    width: 8px;
    background: none;

}
::-webkit-scrollbar {
    width: 8px;
    background: transparent;
}
::-webkit-scrollbar-corner {
  background-color: transparent;
}

body {
  font-family: 'Karla';
  font-size: 14px;
  font-weight: 600;
  color: black;
  overflow: hidden;
  background: #f7f7f8 ;
  margin: 0;
}
* {
  box-sizing: border-box;
}
#modal1 {
  display: none;
}
.row.large {
  display: flex;
  align-items: center;
  align-content: center;
  height: 100%;
  justify-content: space-between;
  width: $width;
  max-width: $max-width;
}
.title-holder {
  display: flex;
  align-content: baseline;
  align-items: center;
}

.title {
  font-size: 18px;
  font-weight: 900;
  padding-bottom: 4px;
  color: #cccaca;
}

.title-desc {
  color: #959494;
  font-weight: 400;
  margin-left: 15px;
}
.breadcrumbs {
  display: flex;
  font-weight: 400;
  div {
    margin-right: 8px;
  }
  .selected {
    font-weight: 700;
  }
}


.title-holder {
  display: flex;
  align-content: baseline;
  align-items: center;
}

.header {
  width: 100%;
  background: black;
  height: 50px;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  border-bottom: 1px solid black;
}

.scroll-holder {
  overflow-y: auto;
  width: 100%;
}

#graph-1 {
  height: calc(100vh - 80px);
  width: $width;
  margin: auto;
  margin-top: 20px;
  max-width: $max-width;
}

.back-btn {
  cursor: pointer;
  text-decoration: none;
  display: flex;
  justify-content: flex-end;
  color: #aed2ff;
  font-weight: 400;
  background: #423e3e;
    padding: 3px 8px;
    transition: background-color .15s linear;
}
.back-btn:hover {
  background:#504b4b;
}
.main-holder {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  border: .5px solid rgba(0,0,0,0.1);
  height: auto;
  width: 100%;
  background: white;
  padding: 20px;
  padding-right: 10px;
}



.chart-nav {
position: absolute;
left: 40%;
transform: translateX(-50%);
top: 20px;
font-weight: 700;
opacity: 0;
}

.graph-description {
// border-bottom: 1px solid rgba(0,0,0,.15);
font-weight: 500;
padding-bottom: 1.5vh;
font-weight: 500;
margin-bottom: 10px;
}
.subrow {
  padding: 2px 0;
  padding-bottom: 5px;
}
.centered {
  margin-left: 50% !important;
  transform: TranslateX(-50%);
  margin-top: 13px;
}



//
//
// .log {
//   width: 180px;
// margin: auto;
// margin-left: 50%;
// transform: translateX(-50%);
// }

// .zoom-out-button {
//   float: right;
//   width: auto;
//   cursor: pointer;
//   visibility: hidden;
//   text-align: right;
//   font-size: 16px;
//   font-weight: 800;
//   color: $primary;
//   padding: 0px 8px;
//   padding-right: 10px;
//   transition: all .1s ease-in-out;
//   border-radius: 4px;
// }
// .material-icons.back{
//   font-size: 16px;
//   cursor: pointer;
//   transform: translateY(2px) scale(1.3);
// }
// .zoom-out-button:hover {
//   background: Rgba(0,0,0,.1);
// }
//
// .main {
//
//   background: white;
//   // border: 1.5px solid rgba(0,0,0,0.2);
// }

//gradient scale for percent in network


//LEGEND
.first-tour, .second-tour, .third-tour {
  display: none;
}
.modal.one .first-tour {
  display: block;
}
.modal.two .second-tour {
  display: block;
}
.modal.three .third-tour {
  display: block;
}
.modal-content h4 {
  font-weight: 300;
}

.modal {
  max-height: 85%;
}
.graph2, .graph3 {
  display: none;
}
.help-button {
  margin-left: 33px;
  cursor: pointer;
}
.img-holder {
  padding-left: 50%;
  margin-top: 30px;
}
.img-holder img {
  transform: translateX(-50%);
}
#modal1, .modal .modal-footer {
  background: white;
}
.input-field label {
pointer-events: auto;
}
svg.main.loading {
  opacity: .2;
  transiton: opacity .1s ease-in-out;
}
.network-button {
  right: 10px;
  top: 20px;
  position: absolute;
  visibility: hidden;
}
.network-button.show {
  visibility: visible;
}
circle.showme {
  fill-opacity: 1  !important;
  /*stroke: black  !important;*/
  stroke-opacity: 1 !important;
  opacity: 1 !important;
}
.tip-text {
  text-align:left;
  padding-left: 0;
  margin-left:0;
}
.tooltip {
    white-space: pre-wrap;
    position: absolute;
    padding: .2em 1em;
    visibility:hidden;
    z-index: 999999 !important;
    max-width: 500px;
    width: auto;
    background: white;
    padding: 15px 20px;
    color: black;
}



.provspan {
  color: gray;
font-weight: 700;
}

.default-prov-msg {
  color: gray;
}

.btn-flat:hover {
  box-shadow: inherit;
  background-color: rgba(0,0,0,.05) !important;
}
.tip-text {
  // @extend .cutoff;
  padding-bottom: 10px;
}

.explanatory {
  height: 100px;
  background: gray;
}

.network-legend {
  visibility: hidden;
}
.network-legend.show {
  visibility: visible;
}
.netbutton, .zoom-out-button {
  display: none
}
.tipheader {
  text-transform: capitalize;
  color: black;
  text-align: left;
  font-weight:800;
  margin-bottom: 5px;
  border-bottom: 1px solid rgba(0,0,0,.1);
  padding-bottom: 5px;
}
.secondary-tip {
  font-weight: 600;
}
.tip-comp {
  text-align: left;
}
.btn-floating {
    margin-right: 20px;
    margin-left: 20px;
}
.hidden {
    height: 0;
    visibility: hidden;
    display: none;
}





//
// .tooltip.flat {
//   color: black;
//   // background: none;
//   box-shadow: none;
//   padding: 2px;
//   background: rgba(255,255,255,.3);
//   // border: .5px solid rgba(0,0,0,.1);
//   opacity: .3;
//   font-weight: 700;
//   transform:translateX(-50%);
// }
// .pointer-label {
//   font-size: 6px;
//   fill: black;
//   font-weight: 600;
// }
// a.btn.btn-flat {
//   margin-bottom: 5px;
//   font-weight: 800;
//   color: $primary !important;
//   text-transform: none;
//   border: .5px solid $primary;
//   background: white;
// }
// .material-icons.infofilter {;
// margin-left: 5px;
// transform: translateY(1px);
// }

// .btn {
//     margin-left:2px;
//     margin-right:2px;
// }
// .zip {
//     cursor: pointer; cursor: hand;
// }
//
// .material-tooltip {
//     white-space: pre-wrap;
//     text-align: left;
//     min-width: 300px;
// }
// .label {
//     color: #37474f;
// }
// .indiv-container .col {
//     border-right: 1px solid #eceff1;
// }

//
// .card-body {
//     overflow: visible;
//     height: 80vh;
//     width: 80vw;
//     margin: 0 !important;
//       padding: 2% 2% !important;
// }
// #header-img {
//     position: absolute;
//     top: 0;
// }
// #footer-img {
//     position: absolute;
//     bottom: -120px;
// }
/*.material-icons.back:hover{
  background-color: rgba(0,0,0,.7);
  box-shadow: 0px 4px 0 #d8d7d7;
}*/
//
// .btn-flat.remove {
//   visibility: hidden;
// }
// .nav-item {
//   color: rgba(0,0,0,.2);
//   transition: color .1s ease-in-out, font-weight .1s ease-in-out;
//   pointer-events: none;
// }
// .nav-item.possible {
//   cursor: pointer;
//   pointer-events: inherit;;
// }
// .nav-item.selected {
//   color: black;
//   font-weight: 700;
//   pointer-events: inherit;;
//   cursor: pointer;
// }
// .nav-item.possible:hover {
//   color: black;
// }
// .network-legend {
//   position: absolute;
//   bottom: 0px;
//   right: 10px;
//   padding: 0 3%;
//   /*box-shadow: 0 2px 8px rgba(0,0,0,.2);*/
//   opacity: .9;
//   border-top: 1px solid black;
//   background: white;
// }
// .network-legend img {
//   width: 100px;
// }
// .material-icons.info {
//   tranform: translateY(2px);
//   font-size: 18px;
// }
