carving - tech career merging design + dev + data 
<br> at work - data analyst in healthcare tech
<br> on the side - front-end dev / datavis projects
<br>-
<br>drawn to:
<br>code as logical creavity
<br>data as pursuit of truth
<br>--
<br><a href="assets/img/textresume.rtf" class="link">cv</a>/<a href="https://github.com/omar-nema" target="_blank" class="link">github</a>/<a href="mailto:omarwnema@gmail.com" target="_top" class="link">email</a>/<a href="https://www.linkedin.com/in/omar-nema-5044704a" class="link" target="_blank">linkedin</a>


