<main class="about-page slideDown">
    <header class="about-header">
        <p>reduce omar nema to:</p>
    </header>
    
    <div class="about-grid">
        
        <section class="about-row row-1">
            <div class="col-1">
                <p class="colheader">[statements]</p>
                <div style="text-align: center;">
                    <div style="display: inline-block; text-align: left">
                        <p class="colcontent">{% include aboutstatements.html %}</p>  
                    </div>
                </div>         
            </div> 
            <div class="col-2">
                 <p class="colheader">[tags]</p>    
                <div style="text-align: center;">
                    <div style="display: inline-block; text-align: left">
                        <p class="colcontent">{% include abouttags.html %}</p>  
                    </div>            
                </div>    
            </div>  
        </section>   
        
        <section class="about-row row-2">
            {% include timeline.html %}
        </section>  
            
    </div>
    

</main>
