
<head>
    <title>{{ site.title }} </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ page.description }}">
     <link rel="stylesheet" type="text/css" href="/css/normalize.css">
     <link href="https://fonts.googleapis.com/css?family=Karla" rel="stylesheet">
     <link href='https://fonts.googleapis.com/css?family=Inconsolata:400,700' rel='stylesheet' type='text/css'>
     <link rel="stylesheet" type="text/css" href="/css/main.css">
{% if page.custom_css %}
  {% for stylesheet in page.custom_css %}
  <link rel="stylesheet" href="/css/{{ stylesheet }}.css" media="screen" type="text/css">
  {% endfor %}
{% endif %}
</head>
