

<div class ="question-mark">
    ?
</div>

<div class="filter hide">
    <section class="hide-wrapper"> 
        <div class="filter-header values">values</div>
        <section class="slider-holder">
            <div class="slider-block discharge">
                <div class="slider-label">size</div>
                <div class="slider vertical">
                        <div class="thumb thumb-lower vertical" filterType="discharge">
                            <div class="thumb-tooltip"></div>                        
                        </div>
                        <div class="thumb thumb-upper vertical" filterType="discharge">
                            <div class="thumb-tooltip"></div>                        
                        </div>                        
                        <div class="fill-inner" filterType="discharge"></div>      
                    <div class="collapse-button"></div>                          
                </div>
            </div> 
            <div class="slider-block patexp">
                <div class="slider-label">pat. exp.</div>
                <div class="slider vertical">
                        <div class="thumb thumb-lower vertical" filterType="patexp">
                            <div class="thumb-tooltip"></div>                        
                        </div>
                        <div class="thumb thumb-upper vertical" filterType="patexp">
                          <div class="thumb-tooltip"></div>                     
                        </div>                        
                        <div class="fill-inner" filterType="patexp">
    
                    </div>
                    <div class="collapse-button"></div>                          
                </div>
            </div>  
            <div class="slider-block outcome">
                <div class="slider-label">outcome</div>
                <div class="slider vertical">
                        <div class="thumb thumb-lower vertical" filterType="outcome">
                            <div class="thumb-tooltip"></div>
                        </div>
                        <div class="thumb thumb-upper vertical" filterType="outcome">
                            <div class="thumb-tooltip"></div>                    
                        </div>                        
                        <div class="fill-inner" filterType="outcome"></div>      
                    <div class="collapse-button"></div>                          
                </div>
            </div>   
            <div class="slider-block cost">
                <div class="slider-label">cost</div>
                <div class="slider vertical">
                        <div class="thumb thumb-lower vertical" filterType="cost">
                            <div class="thumb-tooltip"></div>                    
                        </div>
                        <div class="thumb thumb-upper vertical" filterType="cost">
                            <div class="thumb-tooltip"></div>                        
                        </div>                        
                        <div class="fill-inner" filterType="cost"></div>      
                    <div class="collapse-button"></div>                          
                </div>
            </div>                           
        </section> 

        <div class="filter-header">demographics</div>
    <!--    <section class="slider-holder">-->
            <div class="slider-block income half-column">
                <div class="slider-label">income</div>
                <div class="slider horizontal">
                    <div class="thumb thumb-lower horizontal" filterType="income">
                        <div class="thumb-tooltip"></div>                        
                    </div>
                    <div class="thumb thumb-upper horizontal" filterType="income">
                        <div class="thumb-tooltip"></div>                        
                    </div>                        
                    <div class="fill-inner" filterType="cost"></div>      
                    <div class="collapse-button"></div>                          
                </div>
            </div>


            <div class="state-filter half-column">
                <div class="slider-label">search
    <!--                <input class="search" placeholder="provider, state, zip" id="tags">               -->
                    <textarea class="search" placeholder="provider, state, zip" id="tags"></textarea>
                </div>
            </div>
        <div class="reset-button">reset</div>
    
    
    </section>
    
<svg class="filter-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="20px" height="20px" viewBox="0 0 459 459" style="enable-background:new 0 0 459 459;" xml:space="preserve">
<g>
	<g id="filter">
		<path d="M178.5,382.5h102v-51h-102V382.5z M0,76.5v51h459v-51H0z M76.5,255h306v-51h-306V255z" fill="black"/>
	</g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
</svg>

    
</div>
