

<div class="filter ">
    <div class="filter-header values">values</div>
    <section class="slider-holder">
        <div class="slider-block discharge">
            <div class="slider-label">size</div>
            <div class="slider">
                <div class="fill-outer">
                    <div class="thumb thumb-lower" filterType="discharge"></div>
                    <div class="thumb thumb-upper" filterType="discharge"></div>                        
                    <div class="fill-inner" filterType="discharge"></div>      
                </div>
                <div class="collapse-button"></div>                          
            </div>
        </div> 
        <div class="slider-block patexp">
            <div class="slider-label">pat. exp.</div>
            <div class="slider">
                <div class="fill-outer">
                    <div class="thumb thumb-lower" filterType="patexp"></div>
                    <div class="thumb thumb-upper" filterType="patexp"></div>                        
                    <div class="fill-inner" filterType="patexp"></div>      
                </div>
                <div class="collapse-button"></div>                          
            </div>
        </div>  
        <div class="slider-block outcome">
            <div class="slider-label">outcome</div>
            <div class="slider">
                <div class="fill-outer">
                    <div class="thumb thumb-lower" filterType="outcome"></div>
                    <div class="thumb thumb-upper" filterType="outcome"></div>                        
                    <div class="fill-inner" filterType="outcome"></div>      
                </div>
                <div class="collapse-button"></div>                          
            </div>
        </div>   
        <div class="slider-block cost">
            <div class="slider-label">cost</div>
            <div class="slider">
                <div class="fill-outer">
                    <div class="thumb thumb-lower" filterType="cost"></div>
                    <div class="thumb thumb-upper" filterType="cost"></div>                        
                    <div class="fill-inner" filterType="cost"></div>      
                </div>
                <div class="collapse-button"></div>                          
            </div>
        </div>                           
    </section> 
    
    <div class="filter-header">demographics</div>
<!--    <section class="slider-holder">-->
        <div class="slider-block income half-column">
            <div class="slider-label">income</div>
            <div class="slider slider-horizontal">
                <div class="fill-outer">
                    <div class="thumb thumb-lower" filterType="cost"></div>
                    <div class="thumb thumb-upper" filterType="cost"></div>                        
                    <div class="fill-inner" filterType="cost"></div>      
                </div>
                <div class="collapse-button"></div>                          
            </div>
        </div>
    
    
        <div class="state-filter half-column">
            <div class="slider-label">state</div>
        </div>
    

<!--      </section>-->
    
    

  
    
    <div class="reset-button">reset</div>
    
<svg class="filter-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="20px" height="20px" viewBox="0 0 459 459" style="enable-background:new 0 0 459 459;" xml:space="preserve">
<g>
	<g id="filter">
		<path d="M178.5,382.5h102v-51h-102V382.5z M0,76.5v51h459v-51H0z M76.5,255h306v-51h-306V255z" fill="black"/>
	</g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
</svg>

    
</div>
