

<!--
<div class ="question-mark">
    ?
</div>
-->
<div class="chart-info">
    <p>Percentile-rankings of hospital metrics shown (more info on label <strong>mouse-over</strong>). <strong>Each line represents one hospital (of 1800 total).</strong>
    <br><br>Use <strong>filter</strong> to constrain metrics, or slice according to relevant names, values, demographics.
    <br><br>High cost percentile indicates relatively high cost for procedures. High experience and outcome percentile indicate better quality of care.
    <br><br>
    Scroll down for process.
    </p>
</div>

<div class="filter hide">
    <section class="hide-wrapper"> 
        <div class="filter-header values profile-one">profile 1</div>
        <section class="slider-holder profile-one">
            <div class="slider-block discharge" filterType="discharge">
                <div class="slider-label">size</div>
                <div class="slider vertical profile-one">
                        <div class="thumb thumb-lower vertical profile-one" filterType="discharge">
                            <div class="thumb-tooltip"></div>                        
                        </div>
                        <div class="thumb thumb-upper vertical profile-one" filterType="discharge">
                            <div class="thumb-tooltip"></div>                        
                        </div>                        
                        <div class="fill-inner" filterType="discharge"></div>                           
                </div>
                <div class="collapse-button minus" filterType="discharge">-</div>                     
            </div> 
            <div class="slider-block patexp" filterType="patexp">
                <div class="slider-label">pat. exp.</div>
                <div class="slider vertical profile-one">
                        <div class="thumb thumb-lower vertical profile-one" filterType="patexp">
                            <div class="thumb-tooltip"></div>                        
                        </div>
                        <div class="thumb thumb-upper vertical profile-one" filterType="patexp">
                          <div class="thumb-tooltip"></div>                     
                        </div>                        
                        <div class="fill-inner" filterType="patexp">
    
                    </div>                        
                </div>
                <div class="collapse-button minus" filterType="patexp">-</div>                        
            </div>  
            <div class="slider-block outcome" filterType="outcome">
                <div class="slider-label">outcome</div>
                <div class="slider vertical profile-one">
                        <div class="thumb thumb-lower vertical profile-one" filterType="outcome">
                            <div class="thumb-tooltip"></div>
                        </div>
                        <div class="thumb thumb-upper vertical profile-one" filterType="outcome">
                            <div class="thumb-tooltip"></div>                    
                        </div>                        
                        <div class="fill-inner" filterType="outcome"></div>                               
                </div>
                <div class="collapse-button minus" filterType="outcome">-</div>                        
            </div>   
            <div class="slider-block cost" filterType="cost">
                <div class="slider-label">cost</div>
                <div class="slider vertical profile-one">
                        <div class="thumb thumb-lower vertical profile-one" filterType="cost">
                            <div class="thumb-tooltip"></div>                    
                        </div>
                        <div class="thumb thumb-upper vertical profile-one" filterType="cost">
                            <div class="thumb-tooltip"></div>                        
                        </div>                        
                        <div class="fill-inner" filterType="cost"></div>                            
                </div>
            <div class="collapse-button minus" filterType="cost">-</div>                   
            </div>                    
        </section> 
        
            <div class="filter-header values profile-two">+ compare</div>
          <section class="slider-holder profile-two">
            <div class="slider-block discharge" filterType="discharge">
                <div class="slider-label">size</div>
                <div class="slider vertical profile-two">
                        <div class="thumb thumb-lower vertical profile-two" filterType="discharge">
                            <div class="thumb-tooltip"></div>                        
                        </div>
                        <div class="thumb thumb-upper vertical profile-two" filterType="discharge">
                            <div class="thumb-tooltip"></div>                        
                        </div>                        
                        <div class="fill-inner" filterType="discharge"></div>                           
                </div>
                <div class="collapse-button minus" filterType="discharge">-</div>                     
            </div> 
            <div class="slider-block patexp" filterType="patexp">
                <div class="slider-label">pat. exp.</div>
                <div class="slider vertical profile-two">
                        <div class="thumb thumb-lower vertical profile-two" filterType="patexp">
                            <div class="thumb-tooltip"></div>                        
                        </div>
                        <div class="thumb thumb-upper vertical profile-two" filterType="patexp">
                          <div class="thumb-tooltip"></div>                     
                        </div>                        
                        <div class="fill-inner" filterType="patexp">
    
                    </div>                        
                </div>
                <div class="collapse-button minus" filterType="patexp">-</div>                        
            </div>  
            <div class="slider-block outcome" filterType="outcome">
                <div class="slider-label">outcome</div>
                <div class="slider vertical profile-two">
                        <div class="thumb thumb-lower vertical profile-two" filterType="outcome">
                            <div class="thumb-tooltip"></div>
                        </div>
                        <div class="thumb thumb-upper vertical profile-two" filterType="outcome">
                            <div class="thumb-tooltip"></div>                    
                        </div>                        
                        <div class="fill-inner" filterType="outcome"></div>                               
                </div>
                <div class="collapse-button minus" filterType="outcome">-</div>                        
            </div>   
            <div class="slider-block cost" filterType="cost">
                <div class="slider-label">cost</div>
                <div class="slider vertical profile-two">
                        <div class="thumb thumb-lower vertical profile-two" filterType="cost">
                            <div class="thumb-tooltip"></div>                    
                        </div>
                        <div class="thumb thumb-upper vertical profile-two" filterType="cost">
                            <div class="thumb-tooltip"></div>                        
                        </div>                        
                        <div class="fill-inner" filterType="cost"></div>                            
                </div>
            <div class="collapse-button minus" filterType="cost">-</div>                   
            </div>   
    </section>              
        

        <div class="filter-header filter-header-search">search</div>
        <textarea class="search" placeholder="provider, state, zip" id="tags"></textarea>         
        <div class="reset-button">reset</div>
        
        </section>
    
<svg class="filter-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="20px" height="20px" viewBox="0 0 459 459" style="enable-background:new 0 0 459 459;" xml:space="preserve">
    <g>
        <g id="filter">
            <path d="M178.5,382.5h102v-51h-102V382.5z M0,76.5v51h459v-51H0z M76.5,255h306v-51h-306V255z" fill="black"/>
        </g>
    </g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g>
</svg>

    
</div>
