            
    <div style="clear:both"></div>
    <div class="col-3">
        
        <div class="hover-holder">
                     <div class="phaseHover first">
                    <p class="phaseHover-content">
                    <span class=" phase1color">2011-2013</span>
                    <br><br>
                    Entered Brown Univ. with a Chem Eng focus. Internship + research left me unsatisfied. Craved a field with more creativity, and human consideration. Started dabbling in design courses at Brown & RISD.
                    </p>                    
                    </div>
                <div class="phaseHover second">
                    <p class="phaseHover-content">
                    <span class="phase2color">2014</span>
                    <br><br>
                    Continued engineering coursework, while delving into industrial design courses junior + senior years. Sought out extra-curriculars to combine engineering/design approach to problem-solving, and started neuro-engineering thesis.
                    </p>           
                </div>    
                <div class="phaseHover third">
                    <p class="phaseHover-content">
                    <span class="phase3color">2015-2016</span>
                    <br><br>
                    Developed (digital) thesis. Fascinated with the idea of creating using pure logic. Graduated with biomed engineering degree, and found job as healthcare data analyst to build creative coding skills. Picked up front-end dev + datavis projects outside of work.
                    </p>           
                </div>     
        
        </div>
        
      
                <p class="colheader timeline">[interactive timeline]</p>
                <div class="phase phase1 phase1color" data-phaseorder="first"> 
                    <div style="clear:both"></div>                    
                    <div class="year-header">
                        <p class="date1">2011 - 2013</p>
                    </div>
                    <div class="year-row1">   
                        <div class="year-col">
                            <div>
                             <p class="fact">Research-<br>Chem Eng.</p> </div>                  
                        </div>
                        <div class="year-col">
                            <div><p class="fact phase2color">Courses-<br>Industrial<br> Design</p> 
                            </div>
                        </div>
                    </div>    
                    <div class="year-row2">   
                        <div class="year-col">
                             <p class="fact">Internship-<br>Chem Eng.</p> </div>           
                        <div class="year-col">
                                <p class="fact">Internship-<br>Chem Eng.</p> 
                        </div>
                    </div>                       
                </div>  
                          
                    <div class="phase phase2 phase2color" data-phaseorder="second"> 
                    <div style="clear:both"></div>                    
                    <div class="year-header">              
                         <p class="date1">2014</p>
                    </div>
                    <div class="year-row1">   
                        <div class="year-col">
                             <p class="fact">Design Shop<br>Monitor<br><br>Furniture</p> 
                        </div>
                        <div class="year-col">
                                <p class="fact">Organize design<br>conference<br><br>Design for America</p>
                        </div>
                    </div>    
                    <div class="year-row2">   
                        <div class="year-col">
                             <p class="fact">Internship-<br>Narrative<br>research</p> </div>                  
                        <div class="year-col">
                                <p class="fact phase3color">Thesis -<br> Computational Model</div>   
                        </div>
                    </div> 
                
                    <div class="phase phase3 phase3color" data-phaseorder="third"> 
                    <div style="clear:both"></div>                    
                    <div class="year-header">
                        <div class="divider"></div><p class="date1">2015 - 2016</p>
           
                    </div>
                    <div class="year-row1">   
                        <div class="year-col">
                             <p class="fact">Programming<br>courses
                           </p>
                        </div>
                        <div class="year-col">
                                <p class="fact">Grad Brown Uni.<br>BSc Biomed<br>Engineering</p> 
                        </div>
                    <div class="year-col">
                              <p class="fact">Data vis projects<br>(d3.js)<br><br>Front-end dev<br></p> 
                        </div>                        
                    </div>    
                    <div class="year-row2">   
                        <div class="year-col">
                             <p class="fact">Thesis cont. </div>                
                        <div class="year-col two-third">
                                <p class="fact important middle">Arcadia Solutions<br>Data Analyst</p> 
                        </div>
                    </div>                       
                </div>  
                
                </div>   
                         