//---
//---

//$breakpoint-1: 900px;
//$breakpoint-2: 750px;
$breakpoint-1: 700px;
//$breakpoint-4: 480px;
$footer-height: 1rem;

$card-width: 16vw;
$med-card-width: 1.35 * $card-width;
$large-card-width: 2 * $card-width;
$font-size-factor: 1.5*.07;
$med-font-size-factor: 1.5*.07;
$large-font-size-factor: .07;
$cardratio: .80;
$card-title-factor: .1; 
$med-card-title-factor: .13;
$large-card-title-factor : .18;



.grid-year-header {
    display:none;
}

.grid {
    
    .cardholder {
        width: $med-card-width;
        height: $cardratio*$med-card-width;
        float: left;
        position: relative;
        margin-left: 5vw;
        margin-right: 1vw;
        margin-top: 5vh;
        .cardcontent p {
            font-size: $font-size-factor  * $card-width;
        }            
    }
    
    .cardholder.touchscreen {
            .card.card2, .card.card3 {
                display:none;
            }
            
//            .card.card1 {
//                border-radius: 10%;
//            }
    }
    
//    .card {
//        border-radius: 5%;
//    }    
    .cardtitle {
        font-size: 1.3*$card-title-factor * $card-width;
    }
    

}

 @media only screen and (min-width: 1250px){

//                   .grid .cardholder {
//                width: 1.5*$med-card-width;
//                height: 1.5*$med-card-width*$cardratio;
//                .cardcontent p {
//                    font-size: calc(11px + .7vw);            
//                }                       
//            } 
            .grid .cardtitle {
                font-size: 26px;
            }  
             .grid .cardholder .cardcontent p {
                 font-size: 21px;
             }
    }


    @media only screen and (min-width: $breakpoint-1){
            .cardholder {
                max-width: 256px;
                max-height: .8*256px;
            } 
//                   .grid .cardholder {
//                width: 1.5*$med-card-width;
//                height: 1.5*$med-card-width*$cardratio;
//                .cardcontent p {
//                    font-size: calc(11px + .7vw);            
//                }                       
//            } 
            .grid .cardtitle {
                font-size: calc(10px+.7vw)               
                
            }  
    }





    @media only screen and (max-width: $breakpoint-1){
            .grid.content {
                width: 100%;
            }
            .grid .cardholder {
                width: 1.5*$med-card-width;
                height: 1.5*$med-card-width*$cardratio;
                .cardcontent p {
                    font-size: calc(11px + .7vw);            
                }                       
            } 
            .grid .cardtitle {
                font-size: calc(7px + 2vw);                
                
            }     
        }


//remove filters and preview functionality entirely

    @media only screen and (max-width: 550px){
        .content.grid {
            padding-top: 64px;   
        }
        .time-sort {
            display: none;
        }     

        .sidebar-categories {
            opacity: .85;
        }         
        .grid .cardholder {
            margin-left: 9vw;
            margin-right: 0;
            padding: 0;
            width: 1.5*$med-card-width;
            height: 1.5*$med-card-width*$cardratio;

            
            .card.card1 {
                width: 100%;
                height: 100%;
                opacity: .9;
                transform: none;
                border: none;
//                border-color: black;
            }               
           .card.card2, .card.card3 {
                display:none;
            }                       
        }
        
}

    .content.grid.timesort {
        margin-top: 7vh;
    }

.grid.timesort {

    $grid-timesort-breakpoint1: 1000px;
    $grid-timesort-breakpoint2: 800px;
    $large-card-factor: .7;
    $large-font-factor: .7;
    $med-card-factor: .8;
    $med-font-factor: .8;
    
    min-width:720px;
        margin-left: 40px;    
    
    .cardholder {
        border-radius: 0%;
        min-width: 200px;
        min-height:160px;
    }
    .card {
        border-radius: 0%;
        .cardcontent {
            img {
                border-radius: 0;
            }
        }
    }
    .card1.card1select {
        box-shadow: none;
    }
    .card1 .cardtitle {
         font-size: .05*26vw;
         letter-spacing: 6px;
    }
    [class*='year-'] {
        height:  .85*$med-card-factor*$cardratio*26vw;
        max-width: 211px;
        max-height: 169px;
        width: 8%;
        float: left;
        position: relative;
        margin-right: 20px;
    }

    .grid-year-header {
        display:block;
        opacity: .6;
        font-size: 20px;
        letter-spacing: 3px;
        font-family: monospace;
        text-align: center;
        width: 100%;
        position: absolute;
        height: auto;
        top: 50%;
        transform: translateY(-50%);
        margin: 0;
    }

    //1000+
    @media only screen and (min-width: $grid-timesort-breakpoint1){
        
         .cardholder {
            width: $large-card-factor*26vw;
            height: $large-card-factor*$cardratio*26vw;
            max-width: 18vw;
            max-height: .80*18vw;             
//            max-width: 211px;
//            max-height: $cardratio*211px;
            float: left;
            position: inherit;
            margin-left: 2%;
            margin-right: 0;
            margin-top: 0;     
            .cardcontent p {
                font-size: $large-font-factor * $font-size-factor  * $card-width;
            }            
        }     
    }
    //800-1000
    @media only screen and (max-width: $grid-timesort-breakpoint1){
        
     .cardholder {
        width: $med-card-factor*26vw;
        height: $med-card-factor*$cardratio*26vw;
        float: left;
        position: inherit;
        margin-left: .01%;
        margin-right: 0;
        margin-top: 0;
    

        .cardcontent p {
            font-size:  $med-font-factor* $font-size-factor  * $card-width;
        }            
    }
        
    }
    
    
    
    
}



