
$project-content-max-width: 825px;
$divider-height: 1.5rem;
$project-info-color: #50E3C2;
$block-header-color: #F2F0F0; 
$font-family-main: 'Karla';
$project-info-padding-bottom: 1.5rem;
$block-header-text-color: rgba(0,0,0,.3);



.underline {
    text-decoration: underline;
    text-decoration-style:dotted;
    text-decoration-color: rgba(0,0,0,.2)
}

li {
        list-style-type: none;
}

.tooltip {
    position: absolute;
    pointer-events: none;
    line-height: 1rem;
    transform: translateX(-60%) ;
    z-index: 90000;
    display:none;
    font-family: Inconsolata;
    font-size: 11px;
    text-shadow: 0px 0px .5px rgba(0,0,0,.3);
}

.layered {
    border-right: 1px solid rgba(0,0,0,.2);
    margin-left: 4px;
    cursor: pointer;
    padding-right: 4px;
}
.layered:hover {
    border-right: 1px solid blue;
}
.info-tooltip {
    color: blue;
    border: none;
    display: none;
}
.info-tooltip:before {
    content:"\a";
    white-space: pre;
}

.block-text {
    position: relative;
}

//transitions below
.project-info {
   transition: transform .2s ease-in-out, opacity .2s ease-in-out; 
}

.block-text, .block-image-container {
    transition: opacity .3s ease-in-out;
}
.block-image {
    transition: height .5s ease-in-out, transform .2s ease-in-out;
}

.block.block-data-visual {
    margin-top: 2.3rem;
//    overflow: hidden; //CHANGE THIS PLEASE!!!
}


.project-border {
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    background-color: #F2F0F0;
//    overflow: auto;
    font-size: 16px;
    padding-bottom: 40px;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;    
}


.project-content-wrapper{
    min-height: 40rem;
}
.project-info {
    box-shadow: 0 1px 1px rgba(0, 0,0, .3);
    -moz-box-shadow:   0 1px 1px rgba(0, 0,0, .3);
	-webkit-box-shadow:   0 1px 1px rgba(0, 0,0, .3);   
    position: fixed;
    top: 15px;
    transform: translateY(-15px);
    height: auto;
    right: 0px;
    left: 0px;
    z-index: 2000;
    opacity: .98;
    max-height: 500px;
}
.project-info-title {
    position:absolute;
    right: 3%;
    top: 0;
    color: black;
    height: 3rem;
    color: darkslategrey;
    font-size: 16px;
    color: white;
    text-align: right;
}
.project-info-collapse {
    transform: translateY(-100%);  
    top: 15px;
    opacity: .7;
    .project-info-title, .project-info-content {
        visibility:hidden;
    }
}

.project-info-content {
    position: relative;
    height: 100%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1.5rem;
    max-width: $project-content-max-width;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: $project-info-padding-bottom;
    letter-spacing: 1.3px;
    font-size: 13px;
}
.project-info-content-synposis {
    float: left;
    font-family: $font-family-main;
    margin-top: 0;
    line-height: 1.3rem;
}
.project-info-content-tags {
    margin: 0;
    line-height: 1.2rem;
}
.project-content-wrapper {
    position: relative;
}
.project-content {
     position: relative;
    margin-left: auto;
    margin-right: auto;
    max-width: $project-content-max-width;
    width: 90vw;
   // font-family: 'Karla';
    font-family: $font-family-main;
    letter-spacing: 1.1px;    
    font-weight: lighter;
    color: black;    
}

.block {
    width: 100%;
    background-color: white;
    padding: 5%;
    padding-top: 7%;
    margin-top: $divider-height;    
    position: relative;
    line-height: 1.5rem;
//    overflow: visible;
    margin-bottom: 4rem; 
    box-shadow: 0 0 2px rgba(0,0,0,.1);
}
.block-image-container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 100%; 
//    overflow: visible;
}
.block-image-container.inactive {
    display: none;
}

.block-image {
    position: relative;
    width: 100%;    
    display: block;
    margin-left: auto;
    margin-right: auto;
    cursor: zoom-in;    
}
.block-text {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    margin-top: 2rem;
}
ul {
    list-style-type: none;
}
.block-text.intro-text {
    margin-bottom: 0;
    margin-top: 0;
}
.block-header {
    position: absolute;
    top: -2px;
    right: -2px;
    letter-spacing: 0px;   
    text-align: right;
    background-color: $block-header-color;
    color: $block-header-text-color;
    font-family: Inconsolata;    
    padding-left: 20px;
    padding-right: 7px;
    padding-top: 7px;
    padding-bottom: 14px;
    z-index: 2;
//    font-weight: 900;
    p {
        margin: 0;
    }
}

.block.noshadow {
    box-shadow: none;
}

.block-image-medium {
    max-width: 500px;
}
.block-image-small {
    max-width: 250px;
}

.block.intro {
    margin-top: 4rem;
    color: blue;
    padding: 4%;
}
.block-divider {
    height: $divider-height;
}

.block-image-container.two {
    width: 50%;
    float: left;
    .block-image {
        height: 175px;
        width: auto;
    } 
}

.block-image-container.two.first {
    .block-image {
        float: right;
        padding-right: 10px;
    } 
}
.block-image-container.two.second {
    .block-image {
        float: left;
        padding-left: 10px;
    }  
}

.block-image.image-enlarge {
    transform: scaleX(1.8) scaleY(1.8);
    box-shadow: 0 2px 4px rgba(0, 0,0, .3); 
    z-index: 4;
    opacity: 1;
    max-width: (1/1.8) * 700px;   
    cursor: zoom-out;
}

.highlight-grey {
    background-color: rgba(0,0,0,.07);
}

.home-button {
    position: fixed;
    z-index: 1000;
    color: white;
    font-size: 21px;
    top: 3rem;
    right: 1%;
    opacity: .5; 
    padding: 1px;
}

@media only screen and (max-width: 960px){
    .project-info-content {
        padding-top: 3.5rem;
    }
    .project-info-title {
        font-size: 14px;
    }
    .project-border {
        font-size: 15px;
    }       
    .block-image.image-enlarge {
        max-width: (1/1.8) * 80vw;  
    }
    .tab {
        padding-left: 0;
    }
}



@media only screen and (max-width: 550px){
    
    .project-content {
        width: 100vw;
    }
    .project-border {
        border-left: none;
        border-right: none;
        font-size: 14px;
    }
    .project-info-title {
        font-size: 14px;
    }
//    .block-header {
//        padding-left: 6%;
//    }

}


//.view-button {
//     position: fixed;
//    z-index: 1000;
//    right: 1.5%;
//    opacity: .7;
//    font-family: 'Inconsolata';
//    color: darkslategrey;
//    font-size: 13px;
//    cursor: pointer;
//    padding-left: 1px;
//    padding-right: 1px;
//}
//
//.view-button:hover, .view-button.active {
//    background-color: $project-info-color;
//    color: white;
//}
//
//.view-button.one {
//    top: 7rem;
//}
//.view-button.two {
//    top: 8rem;    
//}
//.view-button.three {
//    top: 9rem;        
//}
//
//.project-border.defaultView {
//    .view-button.three {
//        @extend .active;
//    }
//    .block-image-container {
//        @extend .active;
//    }    
//}

//.project-border.textView {
//    .view-button.one {
//        @extend .active;
//    }
//    .block-image-container {
//        @extend .inactive;
//    }
//    .block-image-container {
//       display:none;
//    }    
//    .block-image-small {
//        display: none;
//    }

//    


//}
//
//.project-border.imageView {
//    .block.intro {
//      display: none;  
//    }
//    .block-text {
//      display: none;  
//    }     
//    .view-button.two {
//        @extend .active
//        
//    }
//}


