
$project-content-max-width: 800px;
$divider-height: 1.5rem;
$project-info-color: #50E3C2;
$block-header-color: #F2F0F0; 
$font-family-main: 'Karla';
$project-info-padding-bottom: 1.5rem;
// $font-family-main: 'Quicksand';
 //$font-family-main: 'GT Eesti Pro Display Trial';
//$main-letter-spacing: 1rem;

$block-header-text-color: black;

.block-text {
    position: relative;
}

.tooltip {
    position: absolute;
    display: none;
    z-index: 3000;
    top: 100%;
}

.highlight.active {
    color: white;
    background-color: black;  
}



.highlight.active:hover {
    .tooltip {
        display: block;
    }
}

//transitions below
.project-info {
   transition: transform .2s ease-in-out, opacity .2s ease-in-out; 
}

.block-text, .block-image-container {
    transition: opacity .3s ease-in-out;
}
.block-image {
    transition: height .5s ease-in-out, transform .2s ease-in-out;
}


.project-border {
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    background-color: #F2F0F0;
    overflow: auto;
    font-size: 16px;
    padding-bottom: 40px;
}


.project-content-wrapper{
    min-height: 40rem;
}

.project-info {
//    background-color: $project-info-color;
    box-shadow: 0 1px 1px rgba(0, 0,0, .3);
    position: fixed;
    top: 0px;
    height: auto;
    right: 0px;
    left: 0px;
    z-index: 2000;
    opacity: .98;
    font-family: Inconsolata;
    max-height: 500px;
}



//.project-info-button-vertical {
//    position: relative;
//    height: 100%;
//    width: 20%;
//    display: block;
//    margin-left: auto;
//    margin-right: auto;
//    background-color: white;
//    border-radius: 10%;
//}
//
//
//.project-info-button-horizontal {
//    position: absolute;
//    width: 100%;
//    height: 20%;
//    display: block;
//    top: 50%;
//    transform: translateY(-50%);
////    margin-top: auto;
////    margin-bottom: auto;
//    background-color: white;
//    border-radius: 10%;    
//}
//


.project-info-title {
    position:absolute;
    right: 3%;
    top: 0;
    color: black;
    height: 3rem;
    letter-spacing: 6px;
    color: darkslategrey;
    font-size: 16px;
//    font-size: calc((100vw - 700px)/100 +  12px);
    color: white;
    text-align: right;
}

.project-info-collapse {
//    height: 1rem;
    transform: translateY(-88%);
    opacity: .7;
    .project-info-title, .project-info-content {
        visibility:hidden;
    }
}

.project-info-content {
    position: relative;
    height: 100%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1.5rem;
    max-width: $project-content-max-width;
    padding-left: 5%;
    padding-right: 5%;
    color: darkslategray;  
    padding-bottom: $project-info-padding-bottom;
    letter-spacing: 1.3px;
    font-size: 13px;
}
.project-info-content-synposis {
    float: left;
    font-family: $font-family-main;
    margin-top: 0;
    line-height: 1.3rem;
}
.project-info-content-tags {
    margin: 0;
    line-height: 1.2rem;
    color: darkslategrey ;
}
.project-content-wrapper {
    position: relative;
}
.project-content {
     position: relative;
    margin-left: auto;
    margin-right: auto;
    max-width: $project-content-max-width;
    width: 90vw;
   // font-family: 'Karla';
    font-family: $font-family-main;
    letter-spacing: 1.1px;    
    font-weight: lighter;
    color: black;    
}


//        $('.view-button.one').addClass('active');   
//        $('.highlight').addClass('active');             
//        $('.block-image-container').css('display','none');   


.block {
    width: 100%;
    background-color: white;
//    display: none;
    padding: 5%;
    margin-top: $divider-height;    
    position: relative;
    line-height: 1.5rem;
    overflow: visible;
    margin-bottom: 4rem; 
}
.block-image-container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 100%;  
}
.block-image-container.inactive {
    display: none;
}

.block-image {
    position: relative;
    width: 100%;    
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.block-text {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    margin-top: 2rem;
//    letter-spacing: $main-letter-spacing;
//    font-family: 'Quicksand';
}
ul {
    list-style-type: none;
}
.block-text.intro-text {
    margin-bottom: 0;
    margin-top: 0;
}
.block-header {
    position: absolute;
    top: 0%;
    right: 0%;
    background-color: $block-header-color;
    color: $block-header-text-color;
    font-family: 'Inconsolata';
    letter-spacing: 5px;
    font-size: 16px;
    padding-left: 4%;
    padding-bottom: 3%; 
    padding-right: 1%;
    z-index: 2;
    text-align: center;
}

.block-image-medium {
    max-width: 500px;
}
.block-image-small {
    max-width: 300px;
    cursor: zoom-in;
}

.block.intro {
    margin-top: 4rem;
}
.block-divider {
    height: $divider-height;
}

.block-image-container.two {
    .block-image {
        float: left;
        width: 40%;
        left: 0;
        margin-left: 5%;
        margin-right: 5%;
    } 
}

.block-image.image-enlarge {
    transform: scaleX(1.8) scaleY(1.8);
    box-shadow: 0 2px 4px rgba(0, 0,0, .3); 
    z-index: 4;
    opacity: 1;
//    max-width: (1/1.8) * 80vw;  
    max-width: (1/1.8) * 700px;   
    cursor: zoom-out;
}





//.fa.fa-picture-o {
//    font-size: 13px;
//}
//.txt-icon {
//    font-size: 12px;
//}

//i {color: white; position: absolute; top: 50%; transform: translateX(-50%) translateY(-50%); left: 50%; font-size: 10px}

.home-button {
    position: fixed;
    z-index: 1000;
//    width: 20px;
//    height: 20px;
    color: yellow;
    font-size: 13px;
    top: 3rem;
    right: 1.5%;
    opacity: .5; 
    padding: 1px;
}

.view-button {
     position: fixed;
    z-index: 1000;
    right: 1.5%;
    opacity: .7;
    font-family: 'Inconsolata';
    color: darkslategrey;
    font-size: 13px;
    cursor: pointer;
    padding-left: 1px;
    padding-right: 1px;
}

.view-button:hover, .view-button.active {
    background-color: $project-info-color;
    color: white;
}

.view-button.one {
    top: 7rem;
}
.view-button.two {
    top: 8rem;    
}
.view-button.three {
    top: 9rem;        
}

.project-border.defaultView {
    .view-button.three {
        @extend .active;
    }
    .block-image-container {
        @extend .active;
    }    
}

.project-border.textView {
//    .view-button.one {
//        background-color: $project-info-color;
//        color: white;
//    }    
    .view-button.one {
        @extend .active;
    }
    .block-image-container {
        @extend .inactive;
    }
    .block-image-container {
       display:none;
    }    
    .block-image-small {
        display: none;
    }
    .highlight {
        @extend .active;
    }
    
//  .highlight {
//        color: white;
//        background-color: black;      
//    }

}

.project-border.imageView {
    .block.intro {
      display: none;  
    }
    .block-text {
      display: none;  
    }     
    .view-button.two {
        @extend .active
        
    }
}


@media only screen and (max-width: 960px){
    .project-info-content {
        padding-top: 3.5rem;
    }
    .project-info-title {
        font-size: 14px;
    }
    .project-border {
        font-size: 15px;
    }       
    .block-image.image-enlarge {
        max-width: (1/1.8) * 80vw;  
    }
    .tab {
        padding-left: 0;
    }
}



@media only screen and (max-width: 550px){
      
    .project-content {
        width: 100vw;
    }
    .project-border {
        border-left: none;
        border-right: none;
        font-size: 14px;
    }
    .project-info-title {
        font-size: 14px;
    }
    
    .block-header-lower {
        display: none;
    }
}


