//---
//---

$child1 : '.cardholder.hospitalquality';
$child2 : '.cardholder.missingrx';
$child3 : '.cardholder.personaldata';
$child4 : '.cardholder.thesis';
$child5 : '.cardholder.narrative';
$child6 : '.cardholder.tools';
$child7 : '.cardholder.table';
$child8 : '.cardholder.tea';

//font-size relative to container width
$font-size-factor: .07;
$med-font-size-factor: .057;
$small-font-size-factor: $med-font-size-factor;
//using real names instead of n-th child b/c faster

$large-card-title-fontsize: 1.9vw;

//related to breakpoint resizinf
$breakpoint-1: 1035px;
$breakpoint-2: 750px;
$breakpoint-3: 640px;
$breakpoint-4: 480px;
$footer-height: 1rem;
//factor by which boxes are multiplied after first & second breakpts
$mediumFactor : 1.15;
$smallFactor : 1.3;
$cardratio: .75;

$content-height: 41.5rem;

$hospitalquality-width: 26vw;
$hospitalquality-height: $cardratio * $hospitalquality-width;
//$hospitalquality-top: 34%;
//$hospitalquality-left: 44.5%;
$hospitalquality-top: 9.1%;
$hospitalquality-left: 3.25%;
//    
$missingrx-width: 21vw;
$missingrx-height: $cardratio*$missingrx-width;
$missingrx-top: 0%;
$missingrx-left: 38%;
//$missingrx-top: 14.1%;
//$missingrx-left: 10.25%;

//$missingrx-top: 2%;
//$missingrx-left: 33%;

$personaldata-width: 18vw;
$personaldata-height: $cardratio * $personaldata-width;
//$personaldata-top: 0%;
//$personaldata-left: 38%;
$personaldata-top: 36%;
$personaldata-left: 45.5%;
//$personaldata-top: 14.1%;
//$personaldata-left: 13.25%;
    
$thesis-width: 25vw;
$thesis-height: $cardratio*$thesis-width;
//$thesis-top: 52%;
//$thesis-left: 14.25%;
$thesis-top: 52%;
$thesis-left: 14.25%;
    
$narrative-width: 17vw;
$narrative-height: $cardratio * $narrative-width;
//$narrative-top: 70.25%;
//$narrative-left: 44%;
$narrative-top: 70.25%;
$narrative-left: 47%;
    
$tools-width: 13vw;
$tools-height: $tools-width * $cardratio;
$tools-top: 24%;
$tools-left: 78%;
    
$table-width: 12vw;
$table-height: $table-width * $cardratio;
$table-top: 58%;
$table-left: 73.25%;
    
$tea-width: 10vw;
$tea-height: $tea-width * $cardratio;
$tea-top: 75%;
$tea-left: 78%;

$max-width-1: 320px;
$max-width-2: 248.844px;
$max-width-3: 213.297px;
$max-width-4: 296.25px;
$max-width-5: 213.297px;
$max-width-6: 201.438px;
$max-width-7: 142.2px;
$max-width-8: 118.5px;

  //simply sizes and positions (left, top) cardholders  
.scatter-large {
    
    
    @media only screen and (min-height: 1000px){
        
        top: 10%;
        tranform: translateY(-50%);

        .card .cardtitle {
            font-size: 21px;
        }
    }
    
    
    //preventing font-size resize with large screen
    @media only screen and (min-width: 1200px){
//        .cardholder .cardcontent p {
//           font-size: 13px; 
//        }

        .card .cardtitle {
            font-size: 21px;
        }
    }

     
    .cardholder {
        position: absolute;
    }
    .cardtitle {
        font-size: $large-card-title-fontsize;
    }
    #{$child1} {
        width: $hospitalquality-width;
        max-width: $max-width-1;
        max-height: $cardratio*$max-width-1;
        height: $hospitalquality-height;
        top: $hospitalquality-top;
        left: $hospitalquality-left;  
        
        @media only screen and (max-width: 1200px) {
                   .cardcontent p {
                font-size: $font-size-factor * $hospitalquality-width;            
            } 
            
        }
        @media only screen and (min-width:1200px){
            .cardcontent p{
                font-size: $font-size-factor * $max-width-1;
            }
        }

        }  
    
    #{$child2}  {
        width: $missingrx-width;
        height: $missingrx-height;
        max-width: $max-width-2;  
        max-height: $cardratio*$max-width-2;        
        top: $missingrx-top;
        left: $missingrx-left;
        
        @media only screen and (max-width: 1200px){
            .cardcontent p {
                font-size: $font-size-factor * $missingrx-width;            
            }                 
        }
        @media only screen and (min-width:1200px){
            .cardcontent p{
        font-size: $font-size-factor * $max-width-2;
            }
        }
    
    }
    #{$child3} {
        width: $personaldata-width;
        height: $personaldata-height;
        max-width: $max-width-3;   
        max-height: $cardratio*$max-width-3;        
        top: $personaldata-top;
        left: $personaldata-left;
        
        @media only screen and (max-width:1200px){
            .cardcontent p {
                font-size: $font-size-factor * $personaldata-width;            
            }    
        @media only screen and (min-width:1200px){
            .cardcontent p{
                font-size: $font-size-factor * $max-width-3;
            }
        }            
            
        }
       
    }
    #{$child4}  {
        width: $thesis-width;
        height: $thesis-height;
        max-width: $max-width-4; 
        max-height: $cardratio*$max-width-4;        
        top: $thesis-top;
        left: $thesis-left;
        
        @media only screen and (max-width:1200px){
            .cardcontent p {
                font-size: $font-size-factor * $thesis-width;            
            }    
        @media only screen and (min-width:1200px){
            .cardcontent p{
                font-size: $font-size-factor * $max-width-4;
            }
        }            
            
        }
      
    }
    #{$child5}  {
        width: $narrative-width;
        height: $narrative-height;
        max-width: $max-width-5;   
        max-height: $cardratio*$max-width-5;        
        top: $narrative-top;
        left: $narrative-left;
        
        @media only screen and (max-width:1200px){
            .cardcontent p {
                font-size: $font-size-factor * $narrative-width;            
            }         
        @media only screen and (min-width:1200px){
            .cardcontent p{
                font-size: $font-size-factor * $max-width-5;
            }
        }            
        }
      
    }
    #{$child6}  {
        width: $tools-width;
        height: $tools-height;
        max-width: $max-width-6;   
        max-height: $cardratio*$max-width-6;        
        top: $tools-top;
        left: $tools-left;
        
        @media only screen and (max-width:1200px){
           .cardcontent p {
            font-size: $font-size-factor * $tools-width;            
            }                
        }
        @media only screen and (min-width:1200px){
            .cardcontent p{
                font-size: $font-size-factor * $max-width-6;
            }
        }        
       
    }
    #{$child7} {
        width: $table-width;
        height: $table-height;
        max-width: $max-width-7;
        max-height: $cardratio*$max-width-7;        
        top: $table-top;
        left: $table-left;
        
        @media only screen and (max-width:1200px){
            .cardcontent p {
                font-size: $font-size-factor * $table-width;            
            }                  
        }
        @media only screen and (min-width:1200px){
            .cardcontent p{
                font-size: $font-size-factor * $max-width-7;
            }
        }        
     
    }
    #{$child8} {
        width: $tea-width;
        height: $tea-height;
        max-width: $max-width-8;   
        max-height: $cardratio*$max-width-8;        
        top: $tea-top;
        left: $tea-left;
        
        @media only screen and (max-width:1200px){
            .cardcontent p {
                font-size: $font-size-factor * $tea-width;            
            }               
        }
        @media only screen and (min-width:1200px){
            .cardcontent p{
                font-size: $font-size-factor * $max-width-8;
            }
        }        
     
    }
}//endscatter


.scatter-medium {
        
    $card-title-fontsize: $mediumFactor*$large-card-title-fontsize;

    $med-hospitalquality-width: $mediumFactor * $hospitalquality-width;
    $med-hospitalquality-height: $cardratio * $med-hospitalquality-width;
    $med-hospitalquality-top: 9.1%;
    $med-hospitalquality-left: 0%;

    $med-missingrx-width: $mediumFactor*$missingrx-width;
    $med-missingrx-height: $cardratio*$med-missingrx-width;
    $med-missingrx-top: 2%;
    $med-missingrx-left: 37%;

    $med-personaldata-width: $mediumFactor*$personaldata-width;
    $med-personaldata-height: $cardratio * $med-personaldata-width;
    $med-personaldata-top: 36%;
    $med-personaldata-left: 45.5%;

    $med-thesis-width: $mediumFactor*$thesis-width;
    $med-thesis-height: $cardratio*$med-thesis-width;
    $med-thesis-top: 52%;
    $med-thesis-left: 10%;

    $med-narrative-width: 1.15*$narrative-width;
    $med-narrative-height: $cardratio * $med-narrative-width;
    $med-narrative-top: 70.25%;
    $med-narrative-left: 45.5%;

    $med-tools-width: $mediumFactor * $tools-width;
    $med-tools-height: $cardratio  * $med-tools-width;
    $med-tools-top: 16%;
    $med-tools-left: 76.7%;

    $med-table-width: $mediumFactor* $table-width;
    $med-table-height: $cardratio  * $med-table-width;
    $med-table-top: 51%;
    $med-table-left: 71.25%;

    $med-tea-width: $mediumFactor*$tea-width;
    $med-tea-height: $med-tea-width* $cardratio;
    $med-tea-top: 75%;
    $med-tea-left: 78%;

    .cardtitle {
        font-size: $card-title-fontsize;
    }
    .cardholder {
        position: absolute;
    }
    #{$child1}{
        width: $med-hospitalquality-width;
        height: $med-hospitalquality-height;
        top: $med-hospitalquality-top;
        left: $med-hospitalquality-left;
            .cardcontent p {
                font-size: $med-font-size-factor * $med-hospitalquality-width;
            }           
        }     
    #{$child2}{
        width: $med-missingrx-width;
        height: $med-missingrx-height;
        top: $med-missingrx-top;
        left: $med-missingrx-left;
            .cardcontent p {
                font-size: $med-font-size-factor  * $med-hospitalquality-width;
            }           
    }
    #{$child3}{
        width: $med-personaldata-width;
        height: $med-personaldata-height;
        top: $med-personaldata-top;
        left: $med-personaldata-left;
            .cardcontent p {
                font-size: $med-font-size-factor  * $med-hospitalquality-width;
            }           
    }
    #{$child4}{
        width: $med-thesis-width;
        height: $med-thesis-height;
        top: $med-thesis-top;
        left: $med-thesis-left;
            .cardcontent p {
                font-size: $med-font-size-factor  * $med-thesis-width;
            }           
    }
    #{$child5} {
        width: $med-narrative-width;
        height: $med-narrative-height;
        top: $med-narrative-top;
        left: $med-narrative-left;
            .cardcontent p {
                font-size: $med-font-size-factor  * $med-narrative-width;
            }           
    }
    #{$child6}{
        width: $med-tools-width;
        height: $med-tools-height;
        top: $med-tools-top;
        left: $med-tools-left;
            .cardcontent p {
                font-size: $med-font-size-factor  * $med-tools-width;
            }           
    }
    #{$child7}{
        width: $med-table-width;
        height: $med-table-height;
        top: $med-table-top;
        left: $med-table-left;
            .cardcontent p {
                font-size: $med-font-size-factor  * $med-table-width;
            }           
    }
    #{$child8} {
        width: $med-tea-width;
        height: $med-tea-height;
        top: $med-tea-top;
        left: $med-tea-left;
            .cardcontent p {
                font-size: $med-font-size-factor  * $med-tea-width;
            }           
    }
}


