@import url('https://fonts.googleapis.com/css?family=Karla:400,400i,700,700i|Quicksand:300,400,500,700');


$color-primary: #3F58FC;
$color-secondary: #f82148;
$color-border: rgba(0,0,0,.15);
$width-content-max: 950px;
$padding-content-left: 40px;
$padding-content-right: 40px;
$font-size-label: 12px;
$color-body: #f5f3f3;


body {
  padding: 0;
  margin: 0;
  background: $color-body;
}

.body-font {
  font-family: 'Karla', 'arial';
  font-size: 14px;
  font-weight: 500;
}
.h1 {
  font-family: 'Karla';
  font-size: 24px;
  font-weight: 700;
}
.h2 {
  font-family: 'Karla';
  font-size: 16px;
  font-weight: 700;
}

.clickable {
  transition: color .15s ease-in-out, border .15s ease-in-out;
  cursor: pointer;
}

html {
  @extend .body-font;
}

.flex-center-layout {
  display: flex;
  justify-content: center;
  align-items: center;


}
.flex-row-layout {
  flex-direction: row;
  flex-wrap: wrap;
  display: flex;
}

::-webkit-scrollbar-track {
    border-radius: 5px;
    background: none;
}
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,.15);
    background-color: rgba(0,0,0,.08);
    box-shadow: inset 0 0 1px rgba(0,0,0,.15);
}
::-webkit-scrollbar {
    width: 15px;
}
