@import url("https://fonts.googleapis.com/css?family=Karla:400,400i,700,700i|Quicksand:300,400,500,700");
body {
  padding: 0;
  margin: 0;
  background: #f5f3f3;
}

.body-font, html {
  font-family: 'Karla', 'arial';
  font-size: 14px;
  font-weight: 500;
}

.h1 {
  font-family: 'Karla';
  font-size: 24px;
  font-weight: 700;
}

.h2 {
  font-family: 'Karla';
  font-size: 16px;
  font-weight: 700;
}

.clickable {
  -webkit-transition: color .15s ease-in-out, border .15s ease-in-out;
  transition: color .15s ease-in-out, border .15s ease-in-out;
  cursor: pointer;
}

.flex-center-layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-row-layout {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

::-webkit-scrollbar-track {
  border-radius: 5px;
  background: none;
}

::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.15);
  background-color: rgba(0, 0, 0, 0.08);
  box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.15);
}

::-webkit-scrollbar {
  width: 15px;
}

body {
  font-family: 'roboto mono';
  font-weight: 300;
  background: #080808;
  font-size: 12px;
  outline-style: none;
  outline: none;
  color: #ffffffe0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.canvas {
  width: 100%;
  height: calc(100vh - 50px);
}

div {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.back-btn {
  font-family: 'Karla';
  font-size: 15px;
  cursor: pointer;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  color: #d798e7;
  border-bottom: none;
}

.back-btn:hover {
  color: #d798e7;
}

h2 {
  font-weight: 700;
  font-size: 20px;
  letter-spacing: .5px;
  font-weight: 400;
  margin-bottom: 10px;
  display: inline-block;
  border-bottom: 1px solid #797979;
  color: #ffffad;
}

h3 {
  font-size: 16px;
  font-weight: 400;
  color: #9d9d9d;
}

.header, .option-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header {
  height: 50px;
  width: 100%;
  background: black;
  border-bottom: .5px solid #1a1a1a;
  padding: 0 50px;
  position: fixed;
  top: 0;
}

.header .option-holder {
  margin-right: 50px;
}

.header .option {
  cursor: pointer;
  font-weight: 400;
  color: #b7b7b7;
  -webkit-transition: color .1s ease-in-out, font-weight .15s linear,  border-color .15s linear;
  transition: color .1s ease-in-out, font-weight .15s linear,  border-color .15s linear;
}

.header .option:hover {
  color: #d798e7;
  border-bottom: 1px dotted #d798e7;
}

.header .option.active {
  color: #d798e7;
  border-bottom: 1px solid #d798e7;
  font-weight: 500;
}

.header .desc {
  color: #767676;
}

.header .desc, .header .option {
  text-align: center;
  padding: 0px 15px;
  padding-top: 20px;
  padding-bottom: 13px;
  font-size: 15px;
  font-family: 'karla';
  width: auto;
  border-bottom: 1px solid transparent;
}

.tippy-tooltip {
  max-width: none;
  border-radius: 0;
  padding: 3px;
}

.thought-container, .thought-card {
  cursor: -webkit-grab;
  cursor: grab;
}

.thought-card {
  z-index: auto;
  isolation: auto;
  height: 0;
}

.card-opacity-layer {
  position: fixed;
  width: 100vw;
  height: calc(100vh - 50px);
  z-index: -1;
  opacity: 0;
  background: black;
  display: none;
}

.thought-card.wide .thought-container {
  width: 340px;
  border-top: 1px solid #191818;
  border-bottom: 1px solid #191818;
  padding: 4px 13px;
}

.thought-card.wide .thought-container:last-child {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.thought-card.wide .foreign-header {
  opacity: 1;
  width: 340px;
}

.foreign-header {
  opacity: 0;
  display: block;
  width: 240px;
  background: #3d3c44;
  font-weight: 400;
  color: #ffffffc7;
  height: 30px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 6px 8px;
  font-size: 12px;
}

.thought-container.active, .thought-card.wide .thought-container.active {
  width: 340px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 15px;
  opacity: 1;
}

.thought-container.active .thought-text, .thought-card.wide .thought-container.active .thought-text {
  font-weight: 400;
}

.thought-container.active .additional-info, .thought-card.wide .thought-container.active .additional-info {
  font-weight: 300;
}

.overlay-text .info-header {
  font-weight: 400;
  color: #d798e7;
  border-bottom: .5px solid #d798e7c9;
  padding-bottom: 3px;
  margin-bottom: 3px;
  width: 55px;
}

.thought-container {
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  background: #18191f;
  padding: 10px 13px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  opacity: .9;
  text-transform: lowercase;
  width: 240px;
}

.thought-container .more-button {
  padding: 3px 5px;
  cursor: pointer;
  color: #cd72e4;
}

.thought-container .more-button:hover {
  text-decoration: underline;
}

.thought-container .overlay-text .thought-text {
  font-weight: 500;
}

.thought-container .thought-text {
  font-weight: 400;
}

.thought-container .info-header {
  font-weight: 400;
  color: #d798e7;
  border-bottom: .5px solid #d798e7c9;
  padding-bottom: 3px;
  margin-bottom: 3px;
  width: 55px;
}

.thought-container .overlay-text .info-header {
  border-bottom: none;
}

.thought-container .info-header.additional-info {
  color: #d798e7;
  font-weight: 400;
  width: 50px;
  margin-bottom: 5px;
}

.thought-container .additional-info.pattern {
  color: white;
}

.thought-container .additional-info {
  display: none;
  opacity: 0;
  color: #ffffffc7;
  font-weight: 300;
}

.flat-layout-holder {
  display: none;
  line-height: 29px;
  font-size: 14px;
  padding: 20px 4%;
  padding-left: 6%;
  max-width: 1200px;
  margin: auto;
}

.thought-flat-text {
  display: inline;
  width: 240px;
}

.thought-flat-span {
  cursor: pointer;
  background: #272626;
  padding: 0 5px;
  border-radius: 3px;
}

.thought-flat-span:hover {
  background: #6600ff;
}

.thought-separator {
  display: inline-block;
  width: 3px;
  height: 3px;
  border-radius: 100%;
  background-color: #949191;
  margin: 0 9px;
}

.project-holder {
  width: 100%;
  height: calc(100vh - 50px);
  position: fixed;
  top: 50px;
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
  max-height: calc(100vh - 50px);
}

.project-holder-overlay {
  width: 100%;
  height: 100vh;
  opacity: 0;
  background: black;
  position: fixed;
  display: none;
  font-size: 14px;
  padding: 40px;
  z-index: 100000;
}

.canvas-opacity-layer {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  background: black;
  opacity: 0;
}

.project-holder-overlay.active {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.overlay-text {
  max-width: 500px;
}

.project-desc {
  display: none;
  position: fixed;
  top: 51px;
  width: 100%;
  overflow-y: auto;
  height: calc(100vh - 51px);
  -webkit-overflow-scrolling: touch;
  padding-bottom: 50px;
  background: #080808;
}

.desc-holder {
  width: auto;
  max-width: 800px;
  height: auto;
  margin: auto;
  font-family: 'karla';
  font-size: 16px;
  padding: 20px 30px;
  margin-top: 50px;
  color: #f7f6f6e0;
}

.text-block {
  margin-bottom: 40px;
}

.clickable-span, a {
  border-bottom: 1px solid #6600ff;
  color: #c4c4c4;
  cursor: pointer;
  -webkit-transition: border-color .15s linear;
  transition: border-color .15s linear;
}

a {
  text-decoration: none;
}

@media (max-width: 800px) {
  .canvas {
    display: none  !important;
  }
  .desc {
    display: none  !important;
  }
  .flat-layout-holder {
    display: block;
  }
  .views {
    display: none !important;
  }
  .option-holder {
    width: 100%;
    margin-right: 0;
  }
  .option {
    width: 50%;
    font-size: 16px;
  }
}
/*# sourceMappingURL=thought-layout.css.map */