body {
  background: #0c0c0c;
  color: #ceccc3;
}
.container {
  margin-top: 50px;
}
.block, .block.intro {
  background: none;
  border: none;
  margin-bottom: 0;
  background: #282829;
}
.block.intro {
  padding-bottom: 0;
}
.block-header span {
  color: white;
  border-bottom-color: #ffffad;
}

.block-image-container .block-video {
    max-width: 150px;
    margin-top: 50px;
    border:1px solid #1f1b1b;
    box-shadow: 1px 1px 10px 1px rgba(199, 192, 192, 0.05);
}
.back-btn {
  background: #292828;
  color: #819bf7;
  border: none;
  font-weight: 430;
}
.back-btn:hover {
  border: none;
  background: #313030;
}
