.video-cont::before {
  top: 28px;
  color: #847d7d;
  padding: 0;
  background: none;
  padding: 3px 0;
  border: none;
  content: 'demo video';
}

.block-image-container .block-video {
  max-width: 240px;
  margin-top: 50px;
  border: 1px solid #211e1e;
  box-shadow: 1px 2px 17px 1px rgba(127, 120, 120, 0.05);
}
