@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
body {
  padding: 0;
  margin: 0;
  background: #f7f9fd;
  line-height: 1.4rem;
}

.body-font,
html {
  font-family: "DM Sans", "arial";
  font-size: 16px;
  font-weight: 400;
}

.h1 {
  font-family: "DM Sans";
  font-size: 24px;
  font-weight: 700;
}

.h2 {
  font-family: "DM Sans";
  font-size: 16px;
  font-weight: 700;
}

.clickable {
  transition: color 0.15s ease-in-out, border 0.15s ease-in-out;
  cursor: pointer;
}

.flex-center-layout {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-row-layout {
  flex-direction: row;
  flex-wrap: wrap;
  display: flex;
}

::-webkit-scrollbar-track {
  border-radius: 5px;
  background: none;
}

::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.15);
  background-color: rgba(130, 127, 127, 0.08);
  box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.15);
  background-color: #e5dcdc;
  box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.15);
  width: 8px;
}

::-webkit-scrollbar-track {
  width: 8px;
  background: none;
}

::-webkit-scrollbar {
  width: 8px;
  background: transparent;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

body {
  font-family: "Karla";
  font-weight: 400;
  color: black;
  overflow: hidden;
  background: #f7f7f8;
  margin: 0;
}

* {
  box-sizing: border-box;
}

#modal1 {
  display: none;
}

.row.large {
  display: flex;
  align-items: center;
  align-content: center;
  height: 100%;
  justify-content: space-between;
  width: 70vw;
  max-width: 1000px;
}

.title-holder {
  display: flex;
  align-content: baseline;
  align-items: center;
}

.container {
  padding-top: 30px;
  margin-top: 0;
}

.title {
  font-size: 16px;
  font-weight: 900;
  color: #cccaca;
}

.subtitle {
  font-weight: 700;
  font-size: 15px;
  text-transform: capitalize;
}

.nav-holder {
  color: white;
  display: flex;
  justify-content: space-between;
  width: 120px;
  /* padding-left: 50px; */
  margin-left: 30px;
}

.nav-page {
  padding: 5px;
  cursor: pointer;
  transition: color 0.15s ease-in-out;
  color: white;
  margin-right: 10px;
}

.nav-page:hover {
  color: #ffffad;
}

.nav-page.selected {
  border-bottom: 1px solid #ffffad;
  color: #ffffad;
  font-weight: 700;
}

.title-desc {
  color: #959494;
  font-weight: 400;
  margin-left: 15px;
}

.block-video {
  max-width: 55% !important;
}

.x-label, .y-label {
  font-weight: 700;
  font-size: 12px;
  position: absolute;
  background: #ffffffc7;
  padding: 0 15px;
  display: none;
}

.y-label {
  bottom: 25.5px;
  left: 35px;
}

.x-label {
  transform: rotate(-90deg);
  bottom: 80px;
  left: -8px;
}

.legend-holder {
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  position: absolute;
  right: 15px;
}
.legend-holder .legend-image {
  display: none;
}

.breadcrumbs {
  display: flex;
  font-weight: 400;
  font-size: 14px;
  color: gray;
  align-self: center;
  height: 100%;
}
.breadcrumbs .crumb {
  cursor: pointer;
  padding: 0 5px;
  height: 100%;
  align-items: center;
  display: flex;
}
.breadcrumbs div {
  padding: 10px 5px;
}
.breadcrumbs .selected {
  color: #416bfd;
}
.breadcrumbs .crumb:hover {
  opacity: 0.8;
  color: #416bfd;
}

.disabled {
  pointer-events: none;
  opacity: 0.35;
}

.title-holder {
  display: flex;
  align-content: baseline;
  align-items: center;
}

.header {
  width: 100%;
  background: black;
  height: 50px;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  border-bottom: 1px solid black;
}

.scroll-holder {
  overflow-y: auto;
  width: 100%;
  height: auto;
  max-height: calc(100vh - 55px);
}

#graph-1 {
  height: calc(100vh - 80px);
  width: 70vw;
  margin: auto;
  margin-top: 20px;
  max-width: 1000px;
}

.btn-flat {
  padding: 6px 12px;
  transition: background-color 0.15s linear;
  background: #416bfd;
  color: white;
  border: 0.5px solid #416bfd;
  cursor: pointer;
  display: inline-block;
  border-radius: 3px;
}

.btn-flat:hover {
  box-shadow: inherit;
  background-color: #2353f9;
}

.back-btn {
  cursor: pointer;
  text-decoration: none;
  display: flex;
  justify-content: flex-end;
  color: #aed2ff;
  font-weight: 400;
  background: #423e3e;
  padding: 3px 8px;
  transition: background-color 0.15s linear;
  position: inherit;
  border: none;
}

.back-btn:hover {
  background: #504b4b;
}

.main-holder {
  height: auto;
  width: 100%;
  padding: 20px;
  padding-right: 10px;
}

.graph-holder {
  width: auto;
  background: white;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 30px;
  border: 1px solid rgba(0, 0, 0, 0.08);
}

.graph-header {
  width: 100%;
  height: 40px;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.1);
  display: flex;
  align-content: center;
  justify-content: space-between;
  padding: 0 30px;
  box-shadow: 0 0.5px 2px 0px rgba(0, 0, 0, 0.05);
}

.chart-nav {
  position: absolute;
  left: 40%;
  transform: translateX(-50%);
  top: 20px;
  font-weight: 700;
  opacity: 0;
}

.graph-description {
  font-weight: 500;
  padding-bottom: 1.5vh;
  font-weight: 500;
  margin-bottom: 10px;
  height: 45px;
}

.link {
  color: #416bfd;
  transition: -webkit-text-decoration 0.2s ease-in-out;
  transition: text-decoration 0.2s ease-in-out;
  transition: text-decoration 0.2s ease-in-out, -webkit-text-decoration 0.2s ease-in-out;
}

.link:hover {
  text-decoration: underline;
}

.subrow {
  padding: 2px 0;
  padding-bottom: 5px;
}

.centered {
  margin-left: 50% !important;
  transform: TranslateX(-50%);
  margin-top: 13px;
}

.first-tour, .second-tour, .third-tour {
  display: none;
}

.modal.one .first-tour {
  display: block;
}

.modal.two .second-tour {
  display: block;
}

.modal.three .third-tour {
  display: block;
}

.modal-content h4 {
  font-weight: 300;
}

.modal {
  max-height: 85%;
}

.graph2, .graph3 {
  display: none;
}

.help-button {
  margin-left: 33px;
  cursor: pointer;
}

.img-holder {
  padding-left: 50%;
  margin-top: 30px;
}

.img-holder img {
  transform: translateX(-50%);
}

#modal1, .modal .modal-footer {
  background: white;
}

.input-field label {
  pointer-events: auto;
}

svg.main.loading {
  opacity: 0.2;
  transiton: opacity 0.1s ease-in-out;
}

.network-button {
  right: 10px;
  top: 20px;
  position: absolute;
  visibility: hidden;
}

.network-button.show {
  visibility: visible;
}

.tip-text {
  text-align: left;
  padding-left: 0;
  margin-left: 0;
}

.tooltip {
  white-space: pre-wrap;
  position: absolute;
  padding: 0.2em 1em;
  visibility: hidden;
  z-index: 999999 !important;
  max-width: 400px;
  width: auto;
  background: #ffffffe6;
  padding: 15px 20px;
  color: black;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
  border: 1px solid rgba(0, 0, 0, 0.1);
  min-width: 350px;
}

.tooltip.flat {
  padding: 10px 15px;
  width: auto;
  min-width: inherit;
  font-weight: 700;
}

.tooltip.flat .tip-text {
  font-weight: 400;
}

.secondary-tip {
  font-weight: 400;
}

.tooltip label {
  font-weight: 400 !important;
  color: gray;
}

.material-icons {
  font-size: 10px;
  margin-left: 5px;
}

.provspan, .slider-label {
  color: gray;
}

.default-prov-msg {
  color: gray;
}

.tip-text {
  padding-bottom: 10px;
}

.explanatory {
  height: 100px;
  background: gray;
}

.network-legend {
  visibility: hidden;
}

.network-legend.show {
  visibility: visible;
}

.netbutton, .zoom-out-button {
  display: none;
}

.tipheader {
  text-transform: capitalize;
  color: black;
  text-align: left;
  font-weight: 800;
  margin-bottom: 5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 5px;
}

.tip-comp {
  text-align: left;
}

.btn-floating {
  margin-right: 20px;
  margin-left: 20px;
}

.hidden {
  height: 0;
  visibility: hidden;
  display: none;
}/*# sourceMappingURL=dataviz-container.css.map */