.about-page {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  display: none;
  background-color: #0000ff;
  z-index: 1000;
  color: white;
  overflow: auto;
  min-height: 630px; }

.about-header {
  height: 15%;
  position: relative;
  padding-bottom: 5%; }
  .about-header p {
    position: absolute;
    left: 7%;
    font-size: 1.7rem;
    letter-spacing: 1vw;
    font-weight: 500; }

.about-grid {
  width: 100%;
  max-width: 1270px;
  height: 85%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  padding-top: 2%;
  min-width: 390px; }

.about-row {
  overflow: auto;
  overflow-x: hidden;
  overflow-y: hidden; }

[class*='col-'] {
  float: left;
  height: 100%;
  font-size: 1rem; }

.colheader {
  height: 4rem;
  text-align: center;
  margin: 0;
  letter-spacing: 2px; }

.col-1, .col-2 {
  width: 50%;
  padding-left: 8%;
  padding-right: 8%;
  text-align: center;
  padding-bottom: 3%; }

.col-3 {
  width: 100%;
  position: relative;
  padding-left: 8%;
  padding-right: 8%; }

.colcontent {
  margin: 0; }

.colheader.timeline {
  padding-bottom: 3%;
  padding-top: 3rem;
  padding-bottom: 3%;
  height: 7rem;
  transition: opacity .2s ease-in-out; }

.phase2 {
  padding-right: 3%; }

.phase.phase3 {
  width: 45%; }
  .phase.phase3 .year-col {
    width: 33%; }
  .phase.phase3 .date2 {
    margin-left: 40%; }

.phase1color {
  color: #9A9A9A; }

.phase2color {
  color: #FFB8B8; }

.phase3color {
  color: #FAE803; }

.hover-holder {
  width: 85%;
  height: 100%;
  position: absolute; }

.phaseHover {
  border: .2px dashed white;
  opacity: 0;
  height: 95%;
  padding-left: 2%;
  padding-right: 2%; }

.phaseHover-content {
  height: auto; }

.phaseHover.first {
  float: left;
  width: 27.5%;
  border-color: #9A9A9A; }

.phaseHover.second {
  float: left;
  width: 27.5%;
  border-color: #FFB8B8; }

.phaseHover.third {
  float: left;
  width: 45%;
  border-color: #FAE803; }

.phase {
  cursor: pointer;
  position: relative;
  float: left;
  width: 27.5%;
  height: 13rem;
  margin-top: 0; }
  .phase .date1 {
    text-align: center;
    margin: 0; }
  .phase .year-divider {
    width: 40%; }
  .phase .year-header {
    height: 4rem;
    margin: 0;
    text-align: center;
    width: 100%;
    float: left;
    font-weight: 900;
    letter-spacing: 5px; }
  .phase [class*='year-row'] {
    float: left;
    height: 20%;
    width: 100%;
    font-size: 14px;
    padding-left: 6%;
    padding-right: 6%; }
  .phase .year-row1 {
    height: 35%; }
  .phase .year-col.two-third {
    width: 63%;
    padding-left: 10%; }
  .phase .fact.important {
    font-weight: 900; }
  .phase .year-col {
    float: left;
    width: 50%;
    height: 100%;
    margin: 0; }
    .phase .year-col p {
      text-align: left;
      display: inline-block; }

.fact {
  font-size: 11px; }

@media only screen and (min-width: 1200px) {
  .phaseHover .phaseHover-content {
    font-size: 15px; } }
@media only screen and (max-width: 1200px) {
  .phaseHover .phaseHover-content {
    font-size: 13px; } }
@media only screen and (max-width: 875px) {
  .phaseHover .phaseHover-content {
    font-size: 12px; } }
@media only screen and (max-width: 700px) {
  .about-header p {
    font-size: 4vw; }

  .fact {
    font-size: 10px; }

  .col-1, .col-2 {
    width: 100%;
    padding-bottom: 8%; }

  .colheader.timeline {
    padding-top: 5%; }

  .colcontent {
    font-size: .8rem;
    text-align: center; }

  .phase.phase1 {
    width: 50%;
    padding-left: 10%; }

  .phase.phase1:hover, .phase.phase2:hover, .phase.phase3:hover {
    opacity: 0; }

  .row-1 {
    padding-bottom: 0; }

  .date1 {
    font-size: 2.5vw; }

  .hover-holder {
    height: 15rem; }

  .phaseHover {
    border: none;
    box-shadow: none;
    padding-top: 5%;
    background-color: blue; }

  .phaseHover .phaseHover-content {
    font-size: 3vw; }

  .phaseHover.first {
    width: 50%;
    height: 19rem; }

  .phase.phase2 {
    width: 50%;
    padding-right: 10%; }

  .phaseHover.second {
    width: 50%;
    height: 19rem; }

  .phase.phase3.phase3color {
    width: 100%;
    padding-left: 10%;
    padding-right: 10%; }

  .phaseHover.third {
    width: 100%; } }
.slideDown {
  animation-name: slideDown;
  -webkit-animation-name: slideDown;
  animation-duration: .5s;
  -webkit-animation-duration: .5s;
  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
  visibility: visible !important; }

@keyframes slideDown {
  0% {
    transform: translateY(-100%); }
  100% {
    transform: translateY(0%); } }
.slideUp {
  transform: translateY(-100%);
  transition: transform .5s ease; }

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(0.95);
    opacity: 0.7; }
  50% {
    -webkit-transform: scale(1);
    opacity: 1; }
  100% {
    -webkit-transform: scale(0.95);
    opacity: 0.7; } }
.fadeIn {
  animation-name: fadeIn;
  -webkit-animation-name: fadeIn;
  animation-duration: .5s;
  -webkit-animation-duration: .5s;
  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
  visibility: visible !important; }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
.fadeOut {
  animation-name: fadeOut;
  -webkit-animation-name: fadeOut;
  animation-duration: .5s;
  -webkit-animation-duration: .5s;
  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
  visibility: visible !important; }

@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
.pulse {
  animation-name: pulse;
  -webkit-animation-name: pulse;
  animation-duration: 1.5s;
  -webkit-animation-duration: 1.5s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite; }

@keyframes pulse {
  0% {
    transform: scale(0.9);
    opacity: 0.7; }
  50% {
    transform: scale(1);
    opacity: 1; }
  100% {
    transform: scale(0.9);
    opacity: 0.7; } }
@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(0.95);
    opacity: 0.7; }
  50% {
    -webkit-transform: scale(1);
    opacity: 1; }
  100% {
    -webkit-transform: scale(0.95);
    opacity: 0.7; } }
.tossing {
  animation-name: tossing;
  -webkit-animation-name: tossing;
  animation-duration: 2.5s;
  -webkit-animation-duration: 2.5s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite; }

@keyframes tossing {
  0% {
    transform: rotate(-4deg); }
  50% {
    transform: rotate(4deg); }
  100% {
    transform: rotate(-4deg); } }
@-webkit-keyframes tossing {
  0% {
    -webkit-transform: rotate(-4deg); }
  50% {
    -webkit-transform: rotate(4deg); }
  100% {
    -webkit-transform: rotate(-4deg); } }
.floating {
  animation-name: floating;
  -webkit-animation-name: floating;
  animation-duration: 1.5s;
  -webkit-animation-duration: 1.5s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite; }

@keyframes floating {
  0% {
    transform: translateY(0%); }
  50% {
    transform: translateY(8%); }
  100% {
    transform: translateY(0%); } }
@-webkit-keyframes floating {
  0% {
    -webkit-transform: translateY(0%); }
  50% {
    -webkit-transform: translateY(8%); }
  100% {
    -webkit-transform: translateY(0%); } }
.grid-year-header {
  display: none; }

.grid .cardholder {
  width: 21.6vw;
  height: 17.28vw;
  float: left;
  position: inherit;
  margin-left: 5vw;
  margin-right: 1vw;
  margin-top: 8vw; }
  .grid .cardholder .cardcontent p {
    font-size: 1.68vw; }
.grid .card {
  border-radius: 5%; }
.grid .cardtitle {
  font-size: 2.08vw; }
@media only screen and (max-width: 650px) {
  .grid .cardholder {
    width: 32.4vw;
    height: 25.92vw; }
    .grid .cardholder .cardcontent p {
      font-size: 2.268vw; }
  .grid .cardtitle {
    font-size: 2.08vw; } }

.content.grid.timesort {
  margin-top: 7vh; }

.grid.timesort .cardholder {
  border-radius: 0%; }
.grid.timesort .card {
  border-radius: 0%; }
  .grid.timesort .card .cardcontent img {
    border-radius: 0; }
.grid.timesort .card1.card1select {
  box-shadow: none; }
.grid.timesort .card1 .cardtitle {
  font-size: 1.3vw;
  letter-spacing: 6px; }
.grid.timesort [class*='year-'] {
  height: 14.144vw;
  max-width: 211px;
  max-height: 169px;
  width: 8%;
  float: left;
  position: relative;
  margin-right: 20px; }
.grid.timesort .grid-year-header {
  display: block;
  font-weight: 400;
  color: grey;
  opacity: .7;
  font-family: Courier New;
  text-align: center;
  width: 100%;
  position: absolute;
  height: auto;
  top: 50%;
  transform: translateY(-50%);
  margin: 0; }
@media only screen and (min-width: 1000px) {
  .grid.timesort .cardholder {
    width: 18.2vw;
    height: 14.56vw;
    float: left;
    position: inherit;
    margin-left: 2%;
    margin-right: 0;
    margin-top: 0; }
    .grid.timesort .cardholder .cardcontent p {
      font-size: 1.176vw; } }
@media only screen and (max-width: 1000px) {
  .grid.timesort .cardholder {
    width: 20.8vw;
    height: 16.64vw;
    float: left;
    position: inherit;
    margin-left: .01%;
    margin-right: 0;
    margin-top: 0; }
    .grid.timesort .cardholder .cardcontent p {
      font-size: 1.344vw; } }

.button {
  transition: color .3s ease-in-out,  background-color .3s ease-in-out, transform .3s ease-in-out, opacity .3s ease-in-out; }

.button:hover {
  transform: scaleX(1.1) scaleY(1.1);
  cursor: pointer;
  opacity: 1; }

.link {
  text-decoration: underline;
  color: white; }

.link:hover {
  cursor: pointer;
  background-color: yellow;
  color: black; }

.hideCategory {
  transform: translateX(75%);
  transition: transform .25s ease-in-out; }

.showCategory {
  transform: translateX(15%);
  transition: transform .25s ease-in-out; }

.cardholder {
  transition: opacity .4s ease-in-out, width .3s ease-in-out, height .3s ease-in-out; }

.project-border {
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  border: 3px solid  #50E3C2;
  background-color: #F2F0F0;
  overflow: auto; }

.project-content-wrapper {
  min-height: 40rem; }

.project-info {
  background-color: #50E3C2;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 3px;
  height: auto;
  right: 3px;
  left: 3px;
  z-index: 5;
  opacity: .98; }

.project-info-title {
  position: absolute;
  right: 3%;
  top: 5%;
  transform: translateY(-50%);
  color: black;
  height: 3rem;
  letter-spacing: 6px;
  color: darkslategrey;
  font-size: calc((100vw - 700px)/100 +  12px);
  color: white; }

.project-info-collapse {
  height: 1rem; }
  .project-info-collapse .project-info-title, .project-info-collapse .project-info-content {
    visibility: hidden; }

.project-info-content {
  position: relative;
  float: left;
  height: 100%;
  width: 60%;
  padding-left: 10vw;
  margin-left: 10vw;
  color: darkslategray;
  font-size: 14px;
  padding-bottom: 15px; }

.project-info-content-synposis {
  float: left; }

.project-info-content-tags, .project-info-content-date {
  color: darkslategray;
  float: left;
  letter-spacing: 2px;
  font-size: 11px; }

.project-content-wrapper {
  padding-left: 5%;
  padding-right: 5%; }

.project-content {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  max-width: 1100px;
  width: 80vw;
  margin-top: 3rem;
  font-family: 'Work Sans';
  color: black; }
  .project-content .block-divider {
    height: 2rem; }
  .project-content .block {
    width: 100%; }
  .project-content .block-image-container {
    position: relative;
    float: left;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    padding-left: 5%;
    padding-right: 5%; }
  .project-content .block-image {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    border: 1px solid #50E3C2; }
  .project-content .block-text {
    width: 60%;
    position: relative;
    float: left;
    margin-left: 0;
    margin-right: 0;
    font-size: calc( 14px + ( 100vw - 750px)/100 ); }
    .project-content .block-text p {
      font-family: 'Karla';
      margin-left: 0;
      margin-right: 0; }

@media only screen and (max-width: 750px) {
  .project-content .block-image-container {
    width: 100%;
    padding-left: 0%;
    padding-right: 0%; }
  .project-content .block-divider {
    height: 0; }
  .project-content .block-text {
    width: 100%; }
    .project-content .block-text p {
      font-size: calc( 12px + (100vw)/150 );
      line-height: calc( 1.1rem + (100vw)/150); } }
@media only screen and (min-width: 1200px) {
  .scatter-large .card .cardtitle {
    font-size: 21px; } }
.scatter-large .cardholder {
  position: absolute; }
.scatter-large .cardtitle {
  font-size: 1.9vw; }
.scatter-large .cardholder.hospitalquality {
  width: 27vw;
  max-width: 320px;
  max-height: 240px;
  height: 20.25vw;
  top: 9.1%;
  left: 3.25%; }
  @media only screen and (max-width: 1200px) {
    .scatter-large .cardholder.hospitalquality .cardcontent p {
      font-size: 1.89vw; } }
  @media only screen and (min-width: 1200px) {
    .scatter-large .cardholder.hospitalquality .cardcontent p {
      font-size: 22.4px; } }
.scatter-large .cardholder.missingrx {
  width: 21vw;
  height: 15.75vw;
  max-width: 248.844px;
  max-height: 186.633px;
  top: 2%;
  left: 37%; }
  @media only screen and (max-width: 1200px) {
    .scatter-large .cardholder.missingrx .cardcontent p {
      font-size: 1.47vw; } }
  @media only screen and (min-width: 1200px) {
    .scatter-large .cardholder.missingrx .cardcontent p {
      font-size: 17.41908px; } }
.scatter-large .cardholder.personaldata {
  width: 18vw;
  height: 13.5vw;
  max-width: 213.297px;
  max-height: 159.97275px;
  top: 36%;
  left: 45.5%; }
  @media only screen and (max-width: 1200px) {
    .scatter-large .cardholder.personaldata .cardcontent p {
      font-size: 1.26vw; } }
@media only screen and (max-width: 1200px) and (min-width: 1200px) {
  .scatter-large .cardholder.personaldata .cardcontent p {
    font-size: 14.93079px; } }

.scatter-large .cardholder.thesis {
  width: 25vw;
  height: 18.75vw;
  max-width: 296.25px;
  max-height: 222.1875px;
  top: 52%;
  left: 14.25%; }
  @media only screen and (max-width: 1200px) {
    .scatter-large .cardholder.thesis .cardcontent p {
      font-size: 1.75vw; } }
@media only screen and (max-width: 1200px) and (min-width: 1200px) {
  .scatter-large .cardholder.thesis .cardcontent p {
    font-size: 20.7375px; } }

.scatter-large .cardholder.narrative {
  width: 18vw;
  height: 13.5vw;
  max-width: 213.297px;
  max-height: 159.97275px;
  top: 70.25%;
  left: 45.5%; }
  @media only screen and (max-width: 1200px) {
    .scatter-large .cardholder.narrative .cardcontent p {
      font-size: 1.26vw; } }
@media only screen and (max-width: 1200px) and (min-width: 1200px) {
  .scatter-large .cardholder.narrative .cardcontent p {
    font-size: 14.93079px; } }

.scatter-large .cardholder.tools {
  width: 17vw;
  height: 12.75vw;
  max-width: 201.438px;
  max-height: 151.0785px;
  top: 16%;
  left: 76.7%; }
  @media only screen and (max-width: 1200px) {
    .scatter-large .cardholder.tools .cardcontent p {
      font-size: 1.19vw; } }
  @media only screen and (min-width: 1200px) {
    .scatter-large .cardholder.tools .cardcontent p {
      font-size: 14.10066px; } }
.scatter-large .cardholder.table {
  width: 12vw;
  height: 9vw;
  max-width: 142.2px;
  max-height: 106.65px;
  top: 51%;
  left: 71.25%; }
  @media only screen and (max-width: 1200px) {
    .scatter-large .cardholder.table .cardcontent p {
      font-size: 0.84vw; } }
  @media only screen and (min-width: 1200px) {
    .scatter-large .cardholder.table .cardcontent p {
      font-size: 9.954px; } }
.scatter-large .cardholder.tea {
  width: 10vw;
  height: 7.5vw;
  max-width: 118.5px;
  max-height: 88.875px;
  top: 75%;
  left: 78%; }
  @media only screen and (max-width: 1200px) {
    .scatter-large .cardholder.tea .cardcontent p {
      font-size: 0.7vw; } }
  @media only screen and (min-width: 1200px) {
    .scatter-large .cardholder.tea .cardcontent p {
      font-size: 8.295px; } }

.scatter-medium .cardtitle {
  font-size: 2.185vw; }
.scatter-medium .cardholder {
  position: absolute; }
.scatter-medium .cardholder.hospitalquality {
  width: 31.05vw;
  height: 23.2875vw;
  top: 9.1%;
  left: 0%; }
  .scatter-medium .cardholder.hospitalquality .cardcontent p {
    font-size: 1.76985vw; }
.scatter-medium .cardholder.missingrx {
  width: 24.15vw;
  height: 18.1125vw;
  top: 2%;
  left: 37%; }
  .scatter-medium .cardholder.missingrx .cardcontent p {
    font-size: 1.76985vw; }
.scatter-medium .cardholder.personaldata {
  width: 20.7vw;
  height: 15.525vw;
  top: 36%;
  left: 45.5%; }
  .scatter-medium .cardholder.personaldata .cardcontent p {
    font-size: 1.76985vw; }
.scatter-medium .cardholder.thesis {
  width: 28.75vw;
  height: 21.5625vw;
  top: 52%;
  left: 10%; }
  .scatter-medium .cardholder.thesis .cardcontent p {
    font-size: 1.63875vw; }
.scatter-medium .cardholder.narrative {
  width: 20.7vw;
  height: 15.525vw;
  top: 70.25%;
  left: 45.5%; }
  .scatter-medium .cardholder.narrative .cardcontent p {
    font-size: 1.1799vw; }
.scatter-medium .cardholder.tools {
  width: 19.55vw;
  height: 14.6625vw;
  top: 16%;
  left: 76.7%; }
  .scatter-medium .cardholder.tools .cardcontent p {
    font-size: 1.11435vw; }
.scatter-medium .cardholder.table {
  width: 13.8vw;
  height: 10.35vw;
  top: 51%;
  left: 71.25%; }
  .scatter-medium .cardholder.table .cardcontent p {
    font-size: 0.7866vw; }
.scatter-medium .cardholder.tea {
  width: 11.5vw;
  height: 8.625vw;
  top: 75%;
  left: 78%; }
  .scatter-medium .cardholder.tea .cardcontent p {
    font-size: 0.6555vw; }

*, *::before, *::after {
  font-family: Inconsolata, HeimatSans-Regular7, Inconsolata;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  margin: 0;
  height: 100%;
  background-color: #FFFAFA; }

body {
  margin: 0;
  padding: 0%;
  height: 100%;
  background-color: #FFFAFA; }

.content {
  display: none;
  width: 85vw;
  height: 85vh;
  min-height: 650px;
  max-width: 1400px;
  max-height: 790.96045px;
  margin-top: 2vh;
  position: relative;
  margin-left: auto;
  margin-right: auto; }

.contentwrapper {
  height: 98.5%;
  width: 100%;
  overflow: auto;
  float: left; }

footer {
  clear: both;
  float: left;
  height: 1.5%;
  width: 100%; }

footer .bottomrect {
  width: 100%;
  height: 80%;
  background-color: #FFEE19; }
footer .toprect {
  width: 100%;
  height: 20%;
  opacity: .3;
  background-color: #FFEE19; }

.about-button {
  z-index: 2000;
  position: absolute;
  top: 0%;
  right: 0%;
  box-shadow: none;
  border: none;
  top: 1%;
  right: 1%;
  width: 100px;
  height: 50px;
  box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.5); }
  .about-button p {
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%); }

.about-button:hover {
  background-color: blue;
  color: white; }

.about-button-aboutpage:hover {
  color: black;
  background-color: white; }

.about-button-unclicked {
  font-size: 20px;
  background-color: yellow;
  color: black;
  letter-spacing: 3px;
  font-family: Consolas;
  font-weight: 900; }
  .about-button-unclicked p {
    transform: rotate(-4deg);
    top: 0; }

.about-button-aboutpage {
  font-size: 20px;
  background-color: white;
  border: 1px solid blue;
  color: blue;
  letter-spacing: 3px;
  font-family: Consolas;
  font-weight: 900; }

.about-button-clicked {
  box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.5);
  font-size: 20px;
  background-color: #FFFAFA;
  border: none;
  color: black;
  opacity: .5;
  letter-spacing: 3px;
  font-family: Consolas;
  font-weight: 900; }

.sidebar-categories {
  z-index: 5;
  height: 200px;
  position: fixed;
  top: 17%;
  right: -5px;
  font-size: .8rem;
  color: white;
  border: none; }
  .sidebar-categories .datavis {
    background-color: #FC2727; }
  .sidebar-categories .research {
    background-color: #1C85FF; }
  .sidebar-categories .object {
    background-color: #50E3C2; }
  .sidebar-categories .category {
    width: 100px;
    height: 40px;
    border-radius: 5%;
    margin-top: .4rem; }
    .sidebar-categories .category p {
      position: absolute;
      left: 20%;
      top: 50%;
      transform: translateY(-50%);
      margin: 0;
      padding: 0; }

.time-sort {
  position: fixed;
  right: -5px;
  margin-top: .8rem;
  width: 100px;
  height: 40px;
  border-radius: 5%;
  background-color: lightgrey;
  color: black;
  z-index: 3; }
  .time-sort .bar-container {
    float: left;
    width: 30%;
    height: 100%;
    position: relative; }
    .time-sort .bar-container [class*='bar-'] {
      float: right;
      position: absolute;
      height: 15%;
      clear: both;
      right: -1%;
      background-color: white;
      padding-top: 5%;
      padding-bottom: 5%; }
    .time-sort .bar-container .bar-1 {
      width: 80%;
      top: 15%;
      border-left: 2px solid #FC2727; }
    .time-sort .bar-container .bar-2 {
      width: 65%;
      top: 50%;
      transform: translateY(-50%);
      border-left: 2px solid #1C85FF; }
    .time-sort .bar-container .bar-3 {
      width: 90%;
      bottom: 18%;
      border-left: 2px solid #50E3C2; }
  .time-sort .label-container {
    z-index: 3;
    float: left;
    position: relative;
    border-left: .5px solid white;
    width: 70%;
    font-size: 10px;
    margin: 0;
    height: 100%;
    padding-left: 20%;
    color: black; }
    .time-sort .label-container p {
      position: absolute;
      margin: 0;
      float: left;
      top: 50%;
      left: 15%;
      letter-spacing: 2px;
      transform: translateY(-50%); }

.card {
  border-radius: 7%;
  color: white;
  width: 85%;
  height: 85%;
  position: absolute; }
  .card .cardtitle {
    text-align: right;
    position: absolute;
    right: 0%;
    bottom: 3%;
    font-weight: 900;
    letter-spacing: 4px; }
  .card p {
    font-color: white;
    position: absolute;
    text-align: center; }

.card.datavis {
  background-color: #FC2727; }

.card.research {
  background-color: #1C85FF; }

.card.object {
  background-color: #50E3C2; }

.card.card3.stackedBar {
  transform: translateX(3%); }

.card.card2.stackedBar {
  transform: translateX(9%); }

.card.card1.stackedBar {
  transform: translateX(15%); }
  .card.card1.stackedBar .cardtitle {
    font-weight: 400; }

.cardcontent {
  display: none;
  height: 100%;
  overflow: hidden;
  text-align: center;
  position: relative; }
  .cardcontent img {
    width: 100%;
    height: 100%;
    border-radius: 7%; }
  .cardcontent p {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
    width: 90%;
    margin: 0; }

.card.card3 {
  transform: translateX(3%) translateY(3%); }
  .card.card3 .cardcontent {
    width: 100%; }

.card.card2 {
  transform: translateX(9%) translateY(9%); }
  .card.card2 .cardcontent {
    width: 100%;
    position: absolute; }

.card.card1 {
  transform: translateX(15%) translateY(15%); }
  .card.card1 .cardcontent {
    width: 100%;
    position: absolute; }

.card-selector {
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.5);
  opacity: 1;
  z-index: 1500; }
  .card-selector .cardcontent {
    display: block; }
  .card-selector .cardtitle {
    display: none; }

.card3select {
  opacity: 0.13;
  z-index: 2; }

.card2select {
  opacity: 0.5;
  z-index: 3; }

.card1select {
  opacity: 0.9;
  z-index: 4;
  box-shadow: 0 .5px .5px 0px black; }
