/* line 4, webfont_preview_bar.scss */
a.mfPreviewButton {
  background: #fefefe;
  border: 1px solid;
  border-color: #e3e3e3 #d9d9d9 #d5d5d5 #d9d9d9;
  border-radius: 1px;
  box-shadow: inset -1px -1px 3px rgba(0, 0, 0, 0.15);
  display: inline-block;
  color: #444!important;
  font-size: 16px;
  letter-spacing: 2px;
  line-height: 24px;
  margin: 0px 5px;
  padding: 6px 15px;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: background 200ms ease-in-out, border 200ms ease-in-out;
  -moz-transition: background 200ms ease-in-out, border 200ms ease-in-out;
  -ms-transition: background 200ms ease-in-out, border 200ms ease-in-out;
  -o-transition: background 200ms ease-in-out, border 200ms ease-in-out;
  transition: background 200ms ease-in-out, border 200ms ease-in-out;
}
/* line 24, webfont_preview_bar.scss */
a.mfPreviewButton:hover {
  color: #07c!important;
}
/* line 27, webfont_preview_bar.scss */
a.mfPreviewButton.blue {
  background: #09f;
  border-color: #09f;
  box-shadow: inset -1px -1px 3px rgba(0, 0, 0, 0.2), inset 1px 1px 3px rgba(255, 255, 255, 0.25);
  color: #fff!important;
}
/* line 33, webfont_preview_bar.scss */
a.mfPreviewButton.blue:hover {
  background: #078adb;
  border-color: #007acb;
}

/* line 39, webfont_preview_bar.scss */
div#mfPreviewBarShow {
  background: #09f;
  color: #fff;
  cursor: pointer;
  font-family: 'mfPreviewClose';
  font-size: 30px;
  height: 30px;
  line-height: 36px;
  width: 30px;
  border-radius: 50%;
  position: absolute;
  top: 17px;
  right: 17px;
  text-align: center;
}
/* line 53, webfont_preview_bar.scss */
div#mfPreviewBarShow:hover {
  background: #06c;
}

/* line 59, webfont_preview_bar.scss */
#mfPreviewBar {
  background: #0092F5;
  box-sizing: content-box;
  color: #fff;
  font-family: "mfPreviewBar", Helvetica, Arial, sans-serif;
  font-size: 16px;
  height: 38px;
  line-height: 38px;
  overflow: hidden;
  padding: 12px 0px;
  position: static;
  top: 0px;
  right: 0px;
  left: 0px;
  text-align: left;
  z-index: 999;
}
/* line 75, webfont_preview_bar.scss */
#mfPreviewBar * {
  box-sizing: content-box;
}
/* line 78, webfont_preview_bar.scss */
#mfPreviewBar span#mfPreviewBarText {
  display: block;
  float: left;
  margin: 0px 10px 0 20px;
  max-width: 425px;
}
/* line 84, webfont_preview_bar.scss */
#mfPreviewBar a#mfPreviewBarLogo {
  background-image: url("/s/images/webfont_preview_bar/logo.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 71px 35px;
  display: block;
  float: left;
  height: 35px;
  margin-right: 20px;
  position: relative;
  top: 5px;
  width: 71px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
  /* line 84, webfont_preview_bar.scss */
  #mfPreviewBar a#mfPreviewBarLogo {
    background-image: url("/s/images/webfont_preview_bar/logo@2x.png");
  }
}
/* line 103, webfont_preview_bar.scss */
#mfPreviewBar a#mfPreviewBarLearn {
  color: #fff;
  font-size: 14px;
  margin: 0px 20px;
  padding: 0;
  text-decoration: none;
}
/* line 110, webfont_preview_bar.scss */
#mfPreviewBar a#mfPreviewBarClose {
  border: 2px solid #005492;
  border-radius: 14px;
  color: #005492;
  font-family: 'mfPreviewClose';
  font-size: 24px;
  height: 24px;
  line-height: 24px;
  position: absolute;
  top: 17px;
  right: 17px;
  text-align: center;
  text-decoration: none;
  width: 24px;
}
/* line 124, webfont_preview_bar.scss */
#mfPreviewBar a#mfPreviewBarClose:hover {
  border-color: #04284C;
  color: #04284C;
}
/* line 129, webfont_preview_bar.scss */
#mfPreviewBar.expired, #mfPreviewBar.pvlimit, #mfPreviewBar.nflimit, #mfPreviewBar.invalidkey {
  background: #FFDC73;
  color: #444;
}
/* line 132, webfont_preview_bar.scss */
#mfPreviewBar.expired span#mfPreviewBarText, #mfPreviewBar.pvlimit span#mfPreviewBarText, #mfPreviewBar.nflimit span#mfPreviewBarText, #mfPreviewBar.invalidkey span#mfPreviewBarText {
  height: 38px;
  line-height: 19px;
}
/* line 136, webfont_preview_bar.scss */
#mfPreviewBar.expired a#mfPreviewBarLogo, #mfPreviewBar.pvlimit a#mfPreviewBarLogo, #mfPreviewBar.nflimit a#mfPreviewBarLogo, #mfPreviewBar.invalidkey a#mfPreviewBarLogo {
  background-image: url("/s/images/webfont_preview_bar/logo_dark.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
  /* line 136, webfont_preview_bar.scss */
  #mfPreviewBar.expired a#mfPreviewBarLogo, #mfPreviewBar.pvlimit a#mfPreviewBarLogo, #mfPreviewBar.nflimit a#mfPreviewBarLogo, #mfPreviewBar.invalidkey a#mfPreviewBarLogo {
    background-image: url("/s/images/webfont_preview_bar/logo_dark@2x.png");
  }
}
/* line 145, webfont_preview_bar.scss */
#mfPreviewBar.expired a#mfPreviewBarLearn, #mfPreviewBar.pvlimit a#mfPreviewBarLearn, #mfPreviewBar.nflimit a#mfPreviewBarLearn, #mfPreviewBar.invalidkey a#mfPreviewBarLearn {
  color: #444;
}
/* line 148, webfont_preview_bar.scss */
#mfPreviewBar.expired a#mfPreviewBarClose, #mfPreviewBar.pvlimit a#mfPreviewBarClose, #mfPreviewBar.nflimit a#mfPreviewBarClose, #mfPreviewBar.invalidkey a#mfPreviewBarClose {
  display: none;
}
/* line 152, webfont_preview_bar.scss */
#mfPreviewBar.adContent {
  background: rgba(255, 255, 255, 0.75);
  border: 1px solid #000;
  color: #000;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 150px;
  height: 280px;
  margin-left: -75px;
  margin-top: -140px;
  text-align: center;
  line-height: 32px;
}
/* line 165, webfont_preview_bar.scss */
#mfPreviewBar.adContent span#mfPreviewBarText {
  font-size: 23px;
  margin: 15px 0;
}
/* line 169, webfont_preview_bar.scss */
#mfPreviewBar.adContent a#mfPreviewBarLogo {
  background-image: url("/s/images/webfont_preview_bar/logo_dark.png");
  display: inline-block;
  float: none;
  margin: 18px 0;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
  /* line 169, webfont_preview_bar.scss */
  #mfPreviewBar.adContent a#mfPreviewBarLogo {
    background-image: url("/s/images/webfont_preview_bar/logo_dark@2x.png");
  }
}
/* line 181, webfont_preview_bar.scss */
#mfPreviewBar.adContent a#mfPreviewBarClose {
  border: none;
  color: #000;
  top: 5px;
  right: 5px;
}
@media (min-width: 300px) {
  /* line 152, webfont_preview_bar.scss */
  #mfPreviewBar.adContent {
    width: 280px;
    height: 140px;
    margin-left: -140px;
    margin-top: -70px;
  }
  /* line 192, webfont_preview_bar.scss */
  #mfPreviewBar.adContent span#mfPreviewBarText {
    font-size: 23px;
  }
  /* line 195, webfont_preview_bar.scss */
  #mfPreviewBar.adContent a#mfPreviewBarLogo {
    margin: 10px 0;
  }
}
@media (min-width: 600px) {
  /* line 152, webfont_preview_bar.scss */
  #mfPreviewBar.adContent {
    width: 570px;
    margin-left: -295px;
    height: 35px;
    padding: 20px 0 20px 20px;
    text-align: left;
  }
  /* line 205, webfont_preview_bar.scss */
  #mfPreviewBar.adContent a#mfPreviewBarLogo {
    display: block;
    float: left;
    margin: 0 5px 0 0;
  }
}
