@import url('https://fonts.googleapis.com/css?family=Karla:400,700');
@import url('https://fonts.googleapis.com/css?family=Lora:400,700&display=swap');

body {
  margin: 0;
  padding: 0;
  background: #acb4b7;
  font-family: 'Karla';
  font-size: 14px;
  overflow: hidden;
  background-image: linear-gradient(315deg, #7a96a3 0%, #51585c 72%);
}
.header {
  width: 100%;
  background: black;
  height: 80px;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  border-bottom: 1px solid black;
}
.row.large {
  width: 85%;
  display: flex;
  align-items: center;
  align-content: center;
  height: 54%;
  justify-content: space-between;
}
.row.small {
  display: flex;
  width: 85%;
  font-size: 14px;
}
.legend {
  margin-right: 22px;
  color: #F8CCFB;
  display: flex;
  font-size: 12px;
  align-items: center;
}


.title {
  color: #e0d8d8;
  font-size: 18px;
  font-weight: 700;
}
.about {
  color: #F7FAA8;
  border-bottom: 1px solid #F7FAA8;
  padding-bottom: 4px;
  font-weight: 700;
  cursor: pointer;
  transition: all .1s linear;
}
.about:hover {
  padding-bottom: 7px;
}
.canvas-background {height: auto; min-height: 100%; background: #2f3132}
.canvas {
  height: auto;
  padding: 30px 0;
  margin: auto;
  font-size: 4px;
  font-family:  'Lora';
  font-weight: 400;
  width: 85%;
  color: rgba(0,0,0,.6);
  cursor: zoom-in;
}
.canvas.zoomed {
  cursor: zoom-out;
}

.fragment {
  display: inline;
  // transition: all .8s ease-in-out;
  opacity: 0;
  background: white;
  color: white;
}
.canvas-holder {
  height: calc(100vh - 80px);
  overflow: auto;
  overflow-x: hidden;
}
.textHolder {
  display: block;
  float: left;
  padding: 0 5px;
  height: auto;
  margin-bottom: 10px;
}

.title-holder {
  display: flex;
  align-content: baseline;
  align-items: center;
}
.title-desc {
  color: #cccaca;
}

.symbol {
  width: auto;
  display: flex;
  background: #f4f4f9;
  padding: 3px 6px;
  align-items: center;
  color: black;
  margin-right: 10px;
}
.symbol.repeat {
  background: #009688;
}
.symbol.emotion {
  background: #EF2971;
}
.symbol.person {
  background: #3498DB;
}


// .fragment.hidden {
//   color: white !important;
//   background: #1ac261 !important;
//   // border: .2px solid black;
// }
//
// .fragment.person {
//   background: #3498db !important;
// }
// .fragment.emotional {
//   background: #ef2971 !important;
//   color: white !important;
// }
