---
layout: default
---


<div class="project-border">

    <nav class="project-info" style="background-color:{{page.theme}}; color:white">
        <div class="project-info-title">
            <p>{{page.title}}</p>
        </div>
        <div class="project-info-content" style="color:{{page.infotextcolor}}">  
            <p class="project-info-content-synposis">
                {{page.heading}}
                </p>
            <div style="clear: both"></div>
            <p class="project-info-content-tags tags">
                {{ page.tags | join: ' / ' }}
            </p>
            <div style="clear: both"></div>
            <p class="project-info-content-tags type">
                {{ page.type | join: ' / ' }}
            </p>            
            <p class="project-info-content-tags date">{{page.time}}</p>            
        </div>        
    </nav>

    <div class="home-button button" style="background-color:{{page.theme}}"><< </div>   
    
    {% if page.viewtoggle %}
        <div class="view-button one" button-type="text-button">txt</div>
        <div class="view-button two" button-type="image-button">img</div>
        <div class="view-button three" button-type="default-button">both</div>   
    {% endif %}

      {% if page.custom_sidebar %}
            {% include {{page.custom_sidebar}} %}
        {% endif %}

    <main class="project-content-wrapper">
      
        <div class="project-content">
            {{ content }}
        </div>
    </main>

</div>

<!--
<script type="text/javascript" src="/assets/scripts/project.js"></script>
{% for scriptjs in page.custom_js %}
    <script src= {{ scriptjs }}></script>
{% endfor %}
-->
