---
layout: default
---


    <div class="home-button button" style="background-color:{{page.theme}}"><< </div>   

    <nav class="project-info" style="background-color:{{page.theme}}; color:white">
        <div class="project-info-title">
            <p>{{page.title}}</p>
        </div>
        <div class="project-info-content" style="color:{{page.infotextcolor}}">  
            <p class="project-info-content-synposis">
                {{page.heading}}
            </p>
            <div style="clear: both"></div>
            <p class="project-info-content-tags tags">
                {{ page.tags | join: ' / ' }}
            </p>
            <div style="clear: both"></div>
            <p class="project-info-content-tags type">
                {{ page.type | join: ' / ' }}
            </p>            
            <p class="project-info-content-tags date">{{page.time}}</p>            
        </div>        
    </nav>

<div class="project-border">

      {% if page.custom_sidebar %}
            {% include {{page.custom_sidebar}} %}
        {% endif %}

    <main class="project-content-wrapper">
      
        <div class="project-content">
            {{ content }}
        </div>
    </main>

</div>

