@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
body {
  padding: 0;
  margin: 0;
  background: #f7f9fd;
  line-height: 1.4rem;
}

.body-font,
html {
  font-family: "DM Sans", "arial";
  font-size: 16px;
  font-weight: 400;
}

.h1 {
  font-family: "DM Sans";
  font-size: 24px;
  font-weight: 700;
}

.h2 {
  font-family: "DM Sans";
  font-size: 16px;
  font-weight: 700;
}

.clickable, .filter-option {
  transition: color 0.15s ease-in-out, border 0.15s ease-in-out;
  cursor: pointer;
}

.flex-center-layout {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-row-layout {
  flex-direction: row;
  flex-wrap: wrap;
  display: flex;
}

::-webkit-scrollbar-track {
  border-radius: 5px;
  background: none;
}

::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.15);
  background-color: rgba(130, 127, 127, 0.08);
  box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}

::-webkit-scrollbar {
  width: 10px;
}

.temp {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  font-weight: 700;
  text-align: center;
}

a {
  text-decoration: none;
}

.about-page {
  opacity: 0;
  display: none;
  margin: auto;
  max-width: 750px;
  margin-bottom: 30px;
  margin-top: 30px;
  line-height: 1.4rem;
  background: white;
  padding: 50px;
  border: 1px dashed black;
}

.about-page,
.content {
  transition: opacity 0.3s ease-in-out;
}

.about-header {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 40px;
}
.about-header span {
  border-bottom: 2px solid black;
  padding-bottom: 5px;
}

.download-btn {
  width: auto;
  display: inline-block;
  color: #416bfd;
  border: 1px solid #416bfd;
  background: white;
  padding: 5px 10px;
  margin-top: 15px;
  font-weight: 700;
  cursor: pointer;
  transition: background-color 0.15s linear;
}

.download-btn:hover {
  background: #f3f3f9;
}

.constr {
  color: blue;
  border: 2px solid blue;
  background: white;
  padding: 13px 20px;
}

.align-big {
  max-width: 950px;
  width: 100%;
  padding-left: 40px;
  padding-right: 40px;
  margin: auto;
}

body {
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

header {
  display: flex;
  align-items: center;
  height: 45px;
  width: 100%;
  border-bottom: 1px solid black;
}

.inner-header {
  height: 100%;
  width: 100%;
  max-width: 1100px;
  display: flex;
}

.header-padding {
  background: blue;
  width: calc(50vw - 1100px/ 2);
  height: 100%;
}

.header-padding.left {
  background: #aed2ff;
}

.header-padding.right {
  background: black;
}

.name-holder {
  height: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  background: #aed2ff;
  width: 260px;
  font-weight: 700;
  color: black;
}

.header-nav {
  width: calc(100% - 200px);
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  padding-left: 20px;
  font-weight: 500;
  border-left: 1px dashed black;
}

.nav-item {
  padding: 4px 10px;
  margin-right: 8px;
  cursor: pointer;
  transition: color 0.15s linear;
  letter-spacing: 0.3px;
}

.nav-item.selected {
  text-decoration: underline;
  color: #ffffad;
}

.nav-item:hover {
  color: #ffffad;
}

.content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  max-width: 1000px;
  width: 90%;
  margin: auto;
  padding-left: 30px;
  overflow: none;
}

.filter-holder {
  width: 100%;
  height: 70px;
  padding-top: 10px;
}

.project-list-holder {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  height: auto;
  max-height: calc(100vh - 45px - 28.4px - 65px);
}

.project-filter {
  display: flex;
  justify-content: flex-start;
  margin-right: 50px;
  padding: 10px 0;
}

.filter-option {
  margin-right: 20px;
  padding: 5px 0px;
  color: gray;
  height: 30px;
  font-weight: 500;
  border-bottom: 1px solid transparent;
}
.filter-option .circle {
  width: 10px;
  height: 10px;
  border: 2px solid black;
  display: inline-block;
  border-radius: 100%;
  margin-right: 5px;
  background: white;
  transition: background 0.1s linear;
}

.filter-option.selected {
  color: #3f3e3e;
  font-weight: 700;
}

.filter-option.datavis {
  color: #009aff;
}
.filter-option.datavis .circle {
  border-color: #009aff;
}

.filter-option.selected.datavis .circle,
.filter-option.datavis:hover .circle {
  background: #009aff;
}

.filter-option.selected.datavis {
  border-color: #009aff;
}

.filter-option.all.selected .circle,
.filter-option.all:hover .circle {
  background: #3f3e3e;
}

.filter-option.all.selected {
  border-color: #3f3e3e;
}

.filter-option.art {
  color: red;
}
.filter-option.art .circle {
  border-color: red;
}

.filter-option.selected.art .circle,
.filter-option.art:hover .circle {
  background: red;
}

.filter-option.selected.art {
  border-color: red;
}

.filter-option.product {
  color: #04987a;
}
.filter-option.product .circle {
  border-color: #04987a;
}

.filter-option.selected.product .circle,
.filter-option.product:hover .circle {
  background: #04987a;
}

.filter-option.selected.product {
  border-color: #04987a;
}

.card {
  text-decoration: none;
  margin-bottom: 30px;
  margin-right: 30px;
  border: 1px dashed #a9a9a9;
  padding: 20px;
  background: white;
  position: relative;
  width: calc(33% - 30px);
  height: auto;
  opacity: 0;
  transition: border-color 0.2s ease-in-out, box-shadow 0.3s ease-in-out;
  cursor: pointer;
}

.card:hover {
  border-color: black;
  box-shadow: 1px 2px 1px 0 rgba(0, 0, 0, 0.15);
}

.card-title {
  font-weight: 700;
  color: black;
  justify-content: space-between;
  align-items: center;
  text-decoration: underline;
  text-decoration-thickness: 0.5px;
}

.material-icons {
  font-size: 14px;
  color: #416bfd;
}

.material-icons.link {
  padding: 2px 1px;
  color: #416bfd;
  transition: all 0.15s ease-in-out;
}

.link-external {
  cursor: pointer;
}

.link-external:hover .link {
  border-color: #ff0080;
  transform: scale(1.1);
}

.card-body {
  height: 100px;
  padding-top: 15px;
  color: black;
  font-weight: 400;
}

.list-row {
  display: flex;
}

.card-footer {
  display: flex;
}
.card-footer .chip {
  font-size: 14px;
  margin-right: 10px;
  border-radius: 15px;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 2px 10px;
  font-weight: 400;
  color: white;
  border: 1.3px solid transparent;
  font-weight: 600;
  background: none;
}
.card-footer .chip.date {
  background: #3f3e3e;
}
.card-footer .chip.datavis {
  color: #009aff;
  border-color: #009aff;
  background: #009aff0a;
}
.card-footer .chip.art {
  color: red;
  border-color: red;
  background: #ff00000f;
}
.card-footer .chip.product {
  color: #04987a;
  border-color: #04987a;
  background: #04987a0d;
}

.project-description {
  padding-top: 5px;
}

.project-layout-block {
  padding: 20px;
}

.project-layout-block:hover {
  background: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

@media only screen and (min-width: 600px) and (max-width: 800px) {
  .card {
    width: 45%;
    margin-right: 4%;
  }
}
@media only screen and (max-width: 600px) {
  .about-holder {
    max-height: calc(100vh - 45px);
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }

  .about-page {
    margin-top: 0px;
    margin-bottom: 0;
    background: none;
    width: 100%;
    border: none;
    padding: 50px 35px;
  }

  .header-nav,
.name-holder {
    flex-basis: 50%;
  }

  .filter-option.selected {
    font-weight: 400;
  }

  .project-list-holder {
    flex-direction: column;
    flex-wrap: inherit;
    align-items: center;
  }

  .content {
    margin: auto;
    overflow: hidden;
    width: 100%;
  }

  header {
    font-size: 15.5px;
  }

  body {
    font-size: 15px;
    line-height: 1.38;
    -webkit-overflow-scrolling: inherit;
  }

  .card-footer .chip {
    font-size: 12px;
    padding: 4px 10px;
    max-width: inherit;
  }

  .project-filter {
    justify-content: space-between;
  }

  .filter-option {
    height: auto;
    margin-right: 0;
  }

  header {
    border-bottom: none;
  }

  .card {
    margin-right: 10%;
    width: 90%;
    padding: 18px;
  }

  .card-body {
    height: 85px;
  }
}/*# sourceMappingURL=index-layout.css.map */