@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons+Round');

:root {
  --dim-header-height: 45px;
  --dim-filter-height: 28.4px;
  --dim-width-max: 1000px;
  --header-accent: #aed2ff;
  --header-primary: black;
  --color-tag-art: red;
  --color-tag-art-bg: #ff00000f;
  --color-tag-datavis: #009aff;
  --color-tag-datavis-bg: #009aff0a;
  --color-tag-product: #04987a;
  --color-tag-product-bg: #04987a0d;
  --color-tag-all: black;
}

body {
  font-family: 'DM Sans';
  margin: 0;
  padding: 0;
  background: #f7f9fd;
  line-height: 1.4rem;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

.content-inner {
  max-width: var(--dim-width-max);
  width: 90%;
}

.content-outer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin: auto;
  padding: 0 20px;
  margin-top: 50px;
}

.container {
  overflow-x: hidden;
  position: relative;
  padding-bottom: 70px;
  width: 90%;
  margin: auto;
  margin-bottom: 10px;
  padding-top: 50px;
}

.content {
  overflow: auto;
  max-height: calc(100vh - var(--dim-header-height));
  margin-top: 30px;
}

::-webkit-scrollbar {
  background: rgba(255, 255, 255, 0.1);
  -moz-background: rgba(255, 255, 255, 0.1);
}
::-webkit-scrollbar-thumb {
  background: #88888826;
  -moz-background: #88888826;
}

html {
  scrollbar-color: rgba(0, 0, 0, 0.1) rgba(255, 255, 255, 0.1);
}

@media only screen and (max-width: 600px) {
  .content {
    width: 100%;
  }
  body {
    font-size: 15px;
    line-height: 1.38;
    -webkit-overflow-scrolling: inherit;
  }
  .content-inner {
    width: 100%;
  }
  .container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
  }
}
